.home-slider {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/scrapbook/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.horizontal-scroll {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slide1-container {
  position: relative;
  aspect-ratio: 2250 / 1080;
  z-index: 2;
}
.slide1 {
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  aspect-ratio: 2250 / 1080;
  position: relative;
  z-index: 2;
}
.slide1 > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide2 {
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  aspect-ratio: 2250 / 1080;
  position: relative;
  z-index: 1;
}
.slide2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#slide1-bg {
  height: auto;
  width: 110%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
#building1 {
  height: auto;
  width: 45%;
  position: absolute;
  bottom: 8%;
  left: -8%;
}
#girl1 {
  height: auto;
  width: 28%;
  position: absolute;
  bottom: 6%;
  left: 22.2%;
}
#ground1-over {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: -10%;
}

#slide2-bg {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#flower1 {
  position: absolute;
  bottom: 20%;
  right: 35%;
  height: auto;
  width: 15%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#car {
  position: absolute;
  bottom: -2%;
  right: -18%;
  height: auto;
  width: 68%;
}
#flower2 {
  position: absolute;
  height: auto;
  width: 20%;
  left: -10%;
  bottom: 5%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  display: none;
}
#girl {
  position: absolute;
  height: auto;
  width: 28%;
  left: 2%;
  bottom: 0%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  display: none;
}
#flower3 {
  position: absolute;
  height: auto;
  width: 15%;
  left: 15%;
  bottom: -10%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#camera {
  position: absolute;
  height: auto;
  width: 22%;
  left: 50%;
  top: 7%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#cherry {
  position: absolute;
  height: auto;
  width: 13%;
  left: 3%;
  top: 8%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#love {
  position: absolute;
  height: auto;
  width: 9%;
  left: 15%;
  top: 20%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#yellow {
  position: absolute;
  height: auto;
  width: 4%;
  right: 0%;
  top: 30%;
}
#ballon {
  position: absolute;
  height: auto;
  width: 8%;
  right: -2%;
  top: 8%;
  animation-name: ballon;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes ballon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

#heart {
  position: absolute;
  right: 20%;
  top: 8%;
  height: auto;
  width: 6%;
}

#girl2 {
  position: absolute;
  right: 10%;
  bottom: -1%;
  height: auto;
  width: 14%;
}

#plant1 {
  position: absolute;
  height: auto;
  width: 6%;
  left: 57%;
  bottom: 0%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#plant2 {
  position: absolute;
  height: auto;
  width: 5%;
  left: 48%;
  bottom: 5%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
#plant3 {
  position: absolute;
  height: auto;
  width: 4%;
  left: 40%;
  bottom: 0%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#plant4 {
  position: absolute;
  height: auto;
  width: 3%;
  right: 0.5%;
  bottom: 0%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
#flower7 {
  position: absolute;
  height: auto;
  width: 5%;
  right: 2%;
  bottom: 2%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#flower5 {
  position: absolute;
  height: auto;
  width: 15%;
  right: 18%;
  bottom: 0%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
#flower4 {
  position: absolute;
  height: auto;
  width: 6%;
  left: 30%;
  bottom: 0%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#heart1 {
  position: absolute;
  height: auto;
  width: 5%;
  left: 15%;
  top: 45%;
}
#heart2 {
  position: absolute;
  height: auto;
  width: 7%;
  left: 10%;
  top: 8%;
}
#heart3 {
  position: absolute;
  height: auto;
  width: 5%;
  right: 30%;
  top: 10%;
}
#coupn {
  position: absolute;
  height: auto;
  width: 12%;
  right: 15%;
  top: 10%;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#letter {
  position: absolute;
  height: auto;
  width: 5%;
  right: 5%;
  top: 35%;
}

@keyframes img7 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* About hero end */

/* Our journey start */

#our_journey {
  width: 100%;
  height: 200vh;
  position: relative;
}

.rainbox-sides {
  pointer-events: none;
  height: 100vh;
  width: 100%;
  min-height: 50em;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}
#right_rainbow {
  width: 15.5em;
  position: absolute;
  top: 0;
  right: 0.05%;
  overflow: hidden;
}
.rainbow-sides__right {
  width: 20.0625em;
  overflow: hidden;
}
.rainbow-sides__left {
  width: 20.0625em;
  position: absolute;
  bottom: -10em;
  left: -4.75em;
  transform: scale(-1);
}

.journey_text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30vh;
  padding-top: 5vh;
}
.journey_top {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.journey_bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.our_journey_vertical {
  width: 27%;
  position: absolute;
  left: 50%;
  height: 250vh !important;
  transform: translateX(-50%);
  bottom: -95vh;
}
.joruney_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 6rem;
  gap: 2rem;
  position: relative;
  z-index: 2;
}
.joruney_wrap h4 {
  font-family: heading;
  font-size: 2vw;
  line-height: 0.9;
  color: #fe0000;
  margin-bottom: 1vw;
}
.joruney_wrap p {
  font-family: font3;
  font-size: 2.2vw;
  color: #000;
}
.joruney_wrap .text_container {
  width: 50%;
}
.joruney_wrap .img_container {
  width: 23%;
  height: auto;
  margin-right: 6rem;
  position: relative;
}
.joruney_wrap .img_container .frame1 {
  width: 100%;
  height: auto;
  position: relative;
  transform: rotate(20deg);
  z-index: 2;
}
.joruney_wrap .img_container .frame2 {
  width: 60%;
  height: auto;
  position: absolute;
  left: -60%;
  bottom: -20%;
  transform: rotate(-20deg);
}

.sun-chat-combo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}
.sun {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.sun__sun-svg {
  animation: rotate360 20s linear infinite;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sun__face-svg {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.chat-cloud {
  background-color: #fe0000;
  border: 0.125em solid #fff;
  border-radius: 0.875em;
  padding: 0.5em 0.75em;
  font-size: 1em;
  position: relative;
}
.chat-cloud__point {
  width: auto;
  max-width: none;
  height: 0.8125em;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-42.5%, 15%);
}

.chat-cloud p {
  font-family: paragraph;
  font-size: 1vw;
  text-align: center;
  line-height: 0.9;
  color: white;
  font-weight: 100;
}
.journey_text h2 {
  font-size: 6.5vw;
  font-family: heading;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: nowrap;
}
.journey_text h2 span {
  transform-origin: top;
  display: inline-block;
}
.journey_text h2:nth-child(3) span {
  color: #fe0000;
}
.journey_text h2:nth-child(3) span:nth-child(2),
.journey_text h2:nth-child(3) span:nth-child(1) {
  color: #000;
}

/* Our journey end */

/* Our Process start */

#our_process {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;
  padding-bottom: 10vw;
  position: relative;
  overflow: hidden;
}
.process_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.process_strip {
  width: 29%;
  height: 100%;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.process_strip:nth-child(1) {
  gap: 35vh;
  position: sticky;
  top: 20vh;
}

.process_strip:nth-child(3) {
  padding-top: 6vw;
}

.porcess_content h4 {
  font-family: heading;
  font-size: 2vw;
  line-height: 0.9;
  color: #fe0000;
  margin-bottom: 1vw;
}
.porcess_content p {
  font-family: font3;
  font-size: 2vw;
  color: #000;
}

.process_card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process_img {
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid #000;
  box-shadow: 0.375em 0.375em 0 0 #00000026;
  background-color: white;
}
.process_img_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.square {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 2px solid #000;
  position: absolute;
}
.square1 {
  top: -7.5px;
  left: -7.5px;
}
.square2 {
  top: -7.5px;
  right: -7.5px;
}

.square3 {
  bottom: -7.5px;
  left: -7.5px;
}

.square4 {
  bottom: -7.5px;
  right: -7.5px;
}

.process_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all ease 0.2s;
}

.process_card:hover img {
  transform: rotate(5deg);
}

.process_card p {
  background-color: #fff;
  border: 2px solid #000;
  border-top: none;
  width: 90%;
  padding: 1rem;
  font-family: heading;
  font-size: 1.3vw;
  text-align: center;
  line-height: 1.2;
  color: black;
}

.process_card p span {
  color: #fe0000;
}

.process_svg {
  height: 70vh;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -20vh;
  width: 100%;
}
.process-rainbow {
  perspective: 25em;
  position: absolute;
}
.rainbow-vertical {
  transform-origin: top;
  transform-style: preserve-3d;
  height: 26em;
  position: relative;
  transform: rotateX(45deg);
}
.ranbow-vertical__1-svg {
  width: 25em;
  height: 100%;
}
/* Our Process end*/

/* faq section */

#faq_section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fadcde;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vw 3vw;
  gap: 4vw;
  text-align: center;
}
#faq_section h2 {
  font-size: 6.5vw;
  font-family: heading;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: nowrap;
}
#faq_section h2:nth-child(2) {
  color: #fe0000;
}
#faq_section h2 span {
  display: inline-block;
  transform-origin: top;
}
#faq_content {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.faq_content_left {
  width: 40%;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid black;
  position: relative;
}
.faq_content_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}
.faq_content_right {
  width: 55%;
}

.accordion-css__list {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: static;
}

.accordion-css__item {
  border-radius: 0.5em;
  padding-top: 0.875em;
  list-style: none;
  position: relative;
}
.accordion-css__bg {
  width: 100%;
  height: calc(100%);
  position: absolute;
  top: -6%;
  left: 0;
  overflow: hidden;
}
.accordion-css__bg-svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.accordion-css__item-bottom {
  transition: grid-template-rows 0.5s cubic-bezier(0.625, 0.05, 0, 1);
}
.accordion-css__item.active .accordion-css__item-bottom {
  grid-template-rows: 1fr;
}
.accordion-css__item-bottom {
  grid-template-rows: 0fr;
  display: grid;
  position: relative;
  overflow: hidden;
}

.accordion-css__item-bottom-wrap {
  flex-flow: column;
  height: 100000%;
  padding-top: 0.5em;
  display: flex;
  position: relative;
  overflow: hidden;
}
.accordion-css__item-bottom-content {
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
  transition: all ease 0.3s;
}

.accordion-css__card {
  border-top-style: solid;
  border-top-width: 0.125em;
  border-top-color: black;
  border-right-style: solid;
  border-right-width: 0.125em;
  border-right-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 0.125em;
  border-left-color: black;
  background-color: white;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-bottom: -3.5em;
  padding: 1em 1em 3em;
  position: relative;
  transform: rotate(-1deg);
  box-shadow: 0.375em 0.375em 0 0 #00000026;
}
.accordion-css__item-p {
  color: black;
  margin-bottom: 1em;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--primary-font-Hel);
  line-height: 1.5;
}
.accordion-css__item-top {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border: 0.125em solid black;
  background-color: #f489a3;
  cursor: pointer;
  border-radius: 0.5em;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 1em 1.5em;
  display: flex;
  position: relative;
}
.accordion-css__item-h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: heading;
  font-size: 1em;
  line-height: 1.3;
}
.accordion-css__item.active .accordion-css__item-icon {
  transform: rotate(-45deg);
}
.accordion-css__item-top:hover .accordion-css__item-icon {
  transform: rotate(90deg);
}
.accordion-css__item-icon {
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  display: flex;
  transform: rotate(0deg);
  transition: all ease 0.2s;
}
.accordion-css__item-icon-svg {
  width: 1em;
  position: relative;
}

.accordion-css__item:hover .accordion-css__item-bottom-content {
  transform: translateY(-0.875em) rotate(1deg);
}

/* founder section start */

#founder_section {
  width: 100%;
  height: 270vh;
  position: relative;
  overflow: hidden;
}
#founder_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#founder_section .founder_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 220px;
  padding-bottom: 150px;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

#founder_title h2 {
  font-family: heading;
  font-size: 8vw;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: nowrap;
}

#founder_title h2 span {
  display: inline-block;
  transform-origin: top;
}
.social_card_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social_card_container .social_card {
  width: 38%;
  padding: 1.5vw;
  background-color: #fff;
}
.social_card_container .social_card video {
  width: 100%;
}

.social_card_container .social_card a {
  text-decoration: none;
  display: inline-block;
  font-family: heading;
  font-size: 1.9vw;
  text-transform: capitalize;
  color: rgb(246, 178, 183);
  margin-top: 1vw;
}

/* founder section end */

@media (max-width: 576px) {
  #founder_section {
    height: 100vh;
  }

  #founder_section .founder_overlay {
    padding: 100px 0;
  }
  #founder_title h2 {
    font-size: 8.5vw;
  }
  .social_card_container .social_card {
    width: 50%;
    padding: 3vw;
  }
  .social_card_container .social_card a {
    font-size: 3.5vw;
    margin-top: 2vw;
  }
  .faq_content_left {
    display: none;
  }
  .faq_content_right {
    width: 100%;
  }
  #faq_section h2 {
    font-size: 8.5vw;
  }
  #faq_content {
    width: 100%;
  }
  #faq_section {
    padding: 15vw 20px;
    gap: 12vw;
  }
  .accordion-css__item-h3 {
    text-align: left;
    font-size: 3.5vw;
  }
  .rainbox-sides {
    display: none;
  }

  #our_journey {
    width: 100%;
    height: auto;
    position: relative;
  }
  .our_journey_vertical {
    width: 84%;
    bottom: -220vh;
  }
  .journey_text {
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20vw;
    padding: 20vw 0 45vw;
  }
  .journey_top {
    width: 100%;
    height: auto;
  }
  .journey_text h2 {
    font-size: 8.5vw;
    line-height: 1;
  }
  .chat-cloud p {
    font-size: 3.5vw;
  }
  .sun {
    width: 3.5rem;
    height: 3.5rem;
  }
  .joruney_wrap {
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
    gap: 4rem;
  }
  .joruney_wrap h4 {
    font-size: 7vw;
    margin-bottom: 2vw;
  }
  .joruney_wrap p {
    font-size: 5vw;
  }
  .joruney_wrap .text_container {
    width: 100%;
  }
  .joruney_wrap .img_container {
    width: 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .joruney_wrap .img_container img:nth-child(1) {
    width: 55%;
    margin-right: -20%;
  }
  .joruney_wrap .img_container img:nth-child(2) {
    width: 40%;
    left: 5%;
    bottom: -35%;
  }
  #our_process {
    padding: 20px;
    padding-bottom: 20vh;
    position: relative;
    overflow: hidden;
  }
  .process_svg {
    height: 35vh;
    bottom: -5vh;
    /* display: none; */
  }
  .ranbow-vertical__1-svg {
    width: 18em;
    height: 100%;
  }

  .process_container {
    flex-direction: column;
    gap: 4rem;
  }
  .process_strip:nth-child(1) {
    position: static;
  }
  .process_strip {
    width: 100%;
    padding-top: 0 !important;
  }
  .porcess_content h4 {
    font-size: 7vw;
    margin-bottom: 2vw;
  }
  .porcess_content p {
    font-size: 5vw;
  }
  .process_card p {
    font-size: 3.5vw;
  }
}
