.titleFont {
    font-family: titleFont;
    font-size: 8vw;
    line-height: 0.9;
    letter-spacing: -0.01em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.sub-title {
    font-family: subTitleFont;
    font-size: 2.4vw;
    margin-bottom: 1rem;
}

.para-big {
    font-family: subTitleFont;
    margin-bottom: 1rem;
    white-space: nowrap;
    letter-spacing: -.01em;
    line-height: 1.2;
    font-size: 3.3vw;
    text-transform: uppercase;
    color: #fe0000;
}

.para-small {
    font-family: subTitleFont;
    font-size: 1.2vw;
    line-height: 150%;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .titleFont {
        font-size: 9vw;
    }

    .sub-title {
        font-size: 3.2vw;
    }

    .para-big {
        font-size: 10vw;
        line-height: 1.25;
    }

    .para-small {
        font-size: 3.75vw;
        line-height: 160%;
    }
}

.split>span {
    display: inline-block;
    transform-origin: top;
}