/* home hero section css */
#home_hero {
  width: 100%;
  height: 230vh;
  background-color: #000;
  position: relative;
}
#home_hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
  transform: scale(1);
}

#hero_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10vw 3vw 5vw;
  padding-top: 0;
}

#hero_container .text_container {
  width: 38%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2vw;
  position: sticky;
  top: 0;
  right: 0;
  text-align: right;
}
#hero_container .text_container p {
  font-family: paragraph;
  font-size: 2.5vw;
  line-height: 1.2;
  color: white;
  font-weight: 500;
  margin-bottom: 4vw;
}
#hero_container .text_container h3 {
  font-size: 3vw;
  font-family: paragraphStyleB;
  font-weight: 500;
  line-height: 1.2;
  color: white;
}
.polaroid_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.polaroid_container .polaroid_card:nth-child(1) {
  transform: translateX(100px) scale(0.8) rotate(-8deg);
  transform-origin: center;
  opacity: 0;
}

.polaroid_container .polaroid_card:nth-child(2) {
  transform: translateX(60px) scale(0.8) rotate(8deg);
  transform-origin: center;
  opacity: 0;
}

.polaroid_container .polaroid_card img {
  object-position: 50% 40% !important;
}
/* home hero section end */

/* explore section start */

#explore_section {
  width: 100%;
  min-height: 120vh;
  background-image: url(/grainy-lg-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fadcde;
  padding: 8vw 3vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.explore_text_container {
  text-align: center;
  position: relative;
}
.explore_text_container::before {
  content: "";
  position: absolute;
  left: -20%;
  top: 5%;
  width: 35px;
  height: 35px;
  background-image: url(/star.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.explore_text_container::after {
  content: "";
  position: absolute;
  right: -20%;
  top: 0;
  width: 35px;
  height: 35px;
  background-image: url(/star2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.explore_text_container h2 {
  font-family: heading;
  font-size: 8vw;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: nowrap;
}
.explore_text_container h2 span {
  display: inline-block;
  transform-origin: top;
}
.explore_text_container #red span:nth-child(1),
.explore_text_container #red span:nth-child(2),
.explore_text_container #red span:nth-child(3),
.explore_text_container #red span:nth-child(4),
.explore_text_container #red span:nth-child(5),
.explore_text_container #red span:nth-child(6) {
  color: red;
}
.explore_polaroid_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7vw;
}

.explore_center_card {
  width: 27%;
  height: 100%;
  background-image: url(/frame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 3vw;
}
.explore_center_card img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}
.explore_center_card p {
  font-family: heading;
  font-size: 1.2vw;
  margin-top: 1vw;
  line-height: 0.9;
  text-align: center;
}

.explore_side_card {
  width: 19%;
  height: 100%;
  background-color: white;
  padding: 1vw;
  position: relative;
}

.explore_side_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.explore_side_card1 {
  transform: translateX(50px) translateY(-100px) rotate(-16deg);
  transform-origin: center;
}
.explore_side_card2 {
  width: 18%;
  transform: translateX(-50px) translateY(-100px) rotate(16deg);
  transform-origin: center;
}

.explore_side_card1::before,
.explore_side_card2::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 30px;
  height: 30px;
  background-image: url(/corner.png);
  background-repeat: no-repeat;
  z-index: 1;
}
.explore_side_card1::after,
.explore_side_card2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 30px;
  height: 30px;
  background-image: url(/corner.png);
  background-repeat: no-repeat;
  z-index: 1;
  transform: rotate(180deg);
}
.explore_inspired_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14vw;
  text-align: center;
  position: relative;
}
.explore_inspired_container::before {
  content: "";
  position: absolute;
  left: 23%;
  top: 5%;
  width: 35px;
  height: 35px;
  background-image: url(/star2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.explore_inspired_container::after {
  content: "";
  position: absolute;
  right: 23%;
  top: 0;
  width: 35px;
  height: 35px;
  background-image: url(/star2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.explore_inspired_container h5 {
  font-size: 2vw;
  font-family: font5;
}
.explore_inspired_container h3 {
  font-size: 5.5vw;
  font-family: font3;
  font-weight: 500;
  line-height: 1.2;
  margin: 2vw 0 10vw;
}
.explore_inspired_button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  color: red;
  font-family: heading;
  font-size: 3.5vw;
  line-height: 0.8;
  cursor: pointer;
}
.explore_inspired_button span {
  display: inline-block;
}
.inspired_button_wrap {
  height: 3.5vw;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.inspired_button_wrap h4 {
  font-family: heading;
  font-size: 3.5vw;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  color: red;
}
.explore_strip1 {
  width: 14.5vw;
  height: auto;
  object-fit: cover;
  position: absolute;
  left: -4%;
  bottom: -7vw;
  transform: rotate(-25deg);
}
.explore_strip2 {
  width: 14.5vw;
  height: auto;
  object-fit: cover;
  position: absolute;
  right: -4%;
  bottom: -7vw;
  transform: rotate(25deg);
}

/* explore section end */

/* product section start */
#product_section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.product_left_section {
  position: sticky;
  top: 0;
  width: 50%;
  height: 100vh;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.product_right_section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.product_right_section .common_product_card {
  width: 50%;
  height: auto;
  border-top: 2px solid black;
}
.product_right_section .common_product_card:nth-child(even) {
  border-left: 2px solid black;
}
/* product section end */

/* vision section start  */
#vision_section {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(252, 230, 222, 1) 0%,
    rgba(244, 240, 235, 1) 100%
  );
  padding: 80px 3vw;
  padding-top: 150px;
  background-image: url(/grainy-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 80px;
}
.vision_text {
  width: 100%;
  position: relative;
}
.vision_text::before {
  content: "";
  position: absolute;
  left: 15%;
  top: 5%;
  width: 35px;
  height: 35px;
  background-image: url(/star.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.vision_text::after {
  content: "";
  position: absolute;
  right: 15%;
  top: 0;
  width: 35px;
  height: 35px;
  background-image: url(/star2.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.vision_text h2 {
  font-family: heading;
  font-size: 8vw;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.vision_text h2 span {
  display: inline-block;
  transform-origin: top;
}
.vision_text .red {
  color: red;
}
.vision_text .red span:nth-child(1),
.vision_text .red span:nth-child(2),
.vision_text .red span:nth-child(3) {
  color: black !important;
}

.vision_text2 {
  width: 50%;
}
.vision_text2 h6 {
  font-family: heading;
  font-size: 2vw;
  line-height: 0.9;
  color: red;
  margin-bottom: 1vw;
}
.vision_text2 p {
  font-family: paragraphStyleB;
  font-size: 2.2vw;
  color: black;
}
.vision_text2 p strong {
  font-style: italic;
}
/* vision section end  */

@media (max-width: 576px) {
  #home_hero {
    height: 145vh;
  }
  #hero_container {
    padding: 0 3vw 15vw;
    background-color: rgba(0, 0, 0, 0.17);
    gap: 5vw;
  }
  #hero_container .text_container {
    width: 100%;
    position: static;
    text-align: center;
    height: 138vh;
    flex-shrink: 0;
  }
  .text_container_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    bottom: 10px;
  }
  #hero_container .text_container p {
    font-size: 5vw;
    line-height: 1.4;
  }
  #hero_container .text_container h3 {
    font-size: 7vw;
    line-height: 1.4;
  }
  .polaroid_container {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
  .polaroid_container .polaroid_card:nth-child(1) {
    transform: translateX(100px) scale(0.8) rotate(-15deg);
    width: 35vw;
}
  .polaroid_container .polaroid_card {
    width: 38vw;
    padding: 2vw;
  }
  .polaroid_container .polaroid_img {
    height: 28vw;
  }
  .polaroid_container .polaroid_card p {
    font-size: 2.5vw;
    margin-top: 2vw;
  }

  #explore_section {
    min-height: 100vh;
    padding: 20vw 3vw;
    padding-top: 50vw;
  }

  .explore_text_container h2 {
    font-size: 10.5vw;
  }
  .explore_text_container::before {
    left: -10%;
    top: 5%;
    width: 20px;
    height: 20px;
  }
  .explore_text_container::after {
    right: -10%;
    top: 0;
    width: 20px;
    height: 20px;
  }
  .explore_polaroid_container {
    justify-content: center;
    margin-top: 15vw;
  }
  .explore_side_card {
    display: none;
  }
  .explore_center_card {
    width: 58%;
    padding: 6vw;
    transform: rotate(13deg);
  }
  .explore_center_card img {
    height: 45vw;
  }
  .explore_center_card p {
    font-size: 3.5vw;
    margin-top: 2vw;
  }

  .explore_inspired_container {
    margin-top: 16vw;
  }
  .explore_inspired_container h5 {
    font-size: 5vw;
  }

  .explore_inspired_container h3 {
    font-size: 10vw;
    margin: 7vw 0 10vw;
  }
  .explore_strip1 {
    width: 16vw;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -4%;
    bottom: -7vw;
    transform: rotate(-25deg);
  }
  .explore_strip2 {
    width: 16vw;
    height: auto;
    object-fit: cover;
    position: absolute;
    right: -4%;
    bottom: -7vw;
    transform: rotate(25deg);
  }
  .explore_inspired_container::before {
    left: 15%;
    top: 5%;
    width: 20px;
    height: 20px;
  }
  .explore_inspired_container::after {
    right: 15%;
    top: 0;
    width: 20px;
    height: 20px;
  }
  .explore_inspired_button {
    font-size: 5vw;
  }
  .inspired_button_wrap {
    height: 5vw;
  }
  .inspired_button_wrap h4 {
    font-size: 5vw;
  }

  #product_section {
    display: flex;
    flex-wrap: wrap;
  }
  .product_left_section {
    position: static;
    width: 50%;
    height: auto;
    overflow: hidden;
    border: none;
  }
  .product_right_section {
    width: 100%;
    border: none;
  }

  .common_product_card {
    border: none !important;
    display: flex;
    flex-direction: column;
  }
  .common_product_card img {
    height: auto !important;
  }
  .common_product_card .product_card_details {
    position: static;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4vw;
    padding-top: 2vw;
  }
  .common_product_card .product_card_details h4:nth-child(1) {
    font-family: HenryItalic;
    font-size: 19px;
  }
  .common_product_card .product_card_details h4:nth-child(2) {
    font-size: 12px;
    color: #767676;
  }
  #vision_section {
    padding: 20vw 20px;
    background: none;
    background-image: none;
  }
  .vision_text h2 {
    font-size: 8.5vw;
    text-align: center;
  }
  .vision_text::before {
    left: 15%;
    top: 5%;
    width: 20px;
    height: 20px;
  }
  .vision_text::after {
    right: 15%;
    top: 0;
    width: 20px;
    height: 20px;
  }
  #vision_section {
    gap: 45px;
  }
  .vision_text2 {
    width: 100%;
  }
  .vision_text2 h6 {
    font-size: 7vw;
  }
  .vision_text2 p {
    font-size: 5vw;
  }
}
