@font-face {
  font-family: font1;
  src: url(/fonts/07070ee11dc38bfbd060.woff);
}
@font-face {
  font-family: font2;
  src: url(/fonts/b44b93a780ecd8dbafec.woff);
}
@font-face {
  font-family: font3;
  src: url(/fonts/bd8de66be4175fed48a7.woff);
}
@font-face {
  font-family: font4;
  src: url(/fonts/c77ea51aaaf5f15bd55d.woff);
}
@font-face {
  font-family: font5;
  src: url(/fonts/dd34dea82ffd23ec2838.woff);
}

#lookbook-Sec1 {
  width: 100%;
  height: auto;
  background-color: #FADCDE;
}
.lb-header-wrapper {
  width: 100%;
  height: 55vh;
  padding-top: 10.25rem;
}
.lb-header {
  width: 100%;
  height: 70vh;
}
.lb-header-text {
  top: 15%;
  position: sticky;
  z-index: 5;
  padding: 1.5rem 0;
  text-align: center;
  mix-blend-mode: difference;
  color: #FADCDE;
}
.lb-header-text h2 {
  font-size: calc(44.8px + 1.33333vw);
  font-family: font1;
  text-transform: uppercase;
}
.lb-header-text h2 span{
  display: inline-block;
  transform: rotateX(90deg);
  transform-origin: top;
}
.lb-header-text p {
  font-weight: 400;
  font-family: var(--secondary-font-Hen);
  font-size: 1.5rem;
  opacity: 0;
}
.lb-header-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: translateY(-55vh);
}
.lb-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform-origin: center top;
  transform: scale(1);
}

#lb-text-container {
  width: 100%;
  padding: 8rem 0;
  padding-right: 21.666vw;
  padding-left: 30vw;
  font-family: font3;
  font-size: 2.2vw;
  color: black;
  font-weight: 500;
  background-color: #FADCDE;
}

#lb-video-container {
  width: 100%;
  height: 105vh;
  margin-bottom: 5vh;
  position: relative;
}
#lb-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  padding: 20px;
}
#lb-video-overlay p {
  font-size: 14px;
  font-family: font1;
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
#lb-video-overlay p::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: white;
}
#lb-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#lb-banner2 {
  width: 100%;
  height: 200vh;
  background-color: white;
  position: relative;
}

#main-banner-container {
  position: sticky;
  top: -50vh;
  height: 150vh;
}

#main-banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#main-banner-text {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 100vh;
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 3;
  opacity: 0;
}
#main-banner-text p {
  position: sticky;
  top: 20vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: left;
  font-family: font3;
  font-size: 2.2vw;
  color: white;
}
#overlay-lb2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 2;
}

#lb-section3 {
  width: 100%;
  padding: 15vh 0;
  padding-left: 16.388vw;
  background-color: #FADCDE;
}
#lb-section3-ig {
  width: 46.666vw;
  height: 55.9375rem;
  display: flex;
  align-items: end;
  overflow: hidden;
}
#lb-section3-ig img {
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: bottom;
}

#lb-section4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #FADCDE;
}
.lb-sec4-img {
  width: 49.5%;
  height: 55vh;
  overflow: hidden;
  display: flex;
  align-items: end;
}
.lb-sec4-img img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
}

#lb-section5 {
  width: 100%;
  height: auto;
  padding: 15vh 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #FADCDE;
}
.lb-section5-ig-wrap {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallex {
  display: flex;
  height: 130vh;
  align-items: end;
  overflow: hidden;
}
.parallex img {
  height: 105% !important;
}

.lb-section5-ig-wrap img {
  width: 100%;
  height: 100%;
}
.lb-section5-ig-wrap:nth-child(2) img {
  width: 70%;
}

#prodcut-container {
  width: 100%;
  padding: 0 40px;
  display: flex;
  gap: 2.6%;
  flex-wrap: wrap;
  background-color: #FADCDE;
}

#prodcut-container.prodcut-container-mobile {
  display: none !important;
}

#prodcut-container .product-lb {
  width: 23%;
  margin-bottom: 2%;
}

.product_img_wrap{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.product-lb img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transform-origin: center;
  transition: all ease .6s;
}
.product-lb:hover img{
  transform: scale(1.02);
}
.product-info {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.35;
  font-style: initial;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}
@media (max-width: 576px) {
  .lb-header-text h2 {
    font-size: 6vw;
    letter-spacing: 1.5px;
    line-height: 1;
  }
  .lb-header-text p {
    font-size: 5vw;
    margin-top: 5vw;
  }
  #lb-text-container {
    width: 100%;
    font-size: 7vw;
    padding: 5rem 20px;
  }
  #main-banner-text p {
    font-size: 7vw;
  }
  #prodcut-container {
    width: 100%;
    padding: 0px 0;
    gap: 0;
  }
  #prodcut-container .product-lb {
    width: 50%;
    margin-bottom: 0%;
  }
  .product-lb img {
    height: auto;
  }
  #main-banner-text {
    width: 100%;
    padding: 20px;
    font-size: 7vw;
  }
  #lb-section3-ig {
    width: 100%;
    height: 28.9375rem;
  }
  .product-info {
    padding: 8px 20px 16px;
  }
  #lb-section3 {
    width: 100%;
    padding: 10vh 20px;
  }
  #lb-section4 {
    padding: 0 20px;
    flex-direction: column;
  }
  .lb-sec4-img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  #lb-section5 {
    padding: 10vh 20px;
    flex-direction: column;
    gap: 10vh;
  }
  .lb-section5-ig-wrap {
    width: 100%;
    height: auto;
  }
  #prodcut-container.prodcut-container-mobile {
    display: flex !important;
    gap: 0;
  }
}
