/* SizeAssistance.css */

.size-assist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1000;
  font-family: paragraph;
  font-size: 12px !important;
  background-color: #fff;
  overflow-y: auto;
}

.size-assist-guide {
  padding: 100px;
  width: 50%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.size-assist-guide img {
  width: 80%;
  height: auto;
}
.size-assist-guide p {
  font-family: heading;
  font-weight: 400;
  font-size: 24px;
}
.size-assist-guide ol {
  margin: 20px 0;
}
.size-assist-guide ol,
.size-assist-guide li {
  list-style: decimal !important;
  margin-left: 0.4rem;
}
.size-assist-guide li {
  color: #767676;
  line-height: 1.4;
}
.size-assist-guide li span {
  color: #000;
}

.size-assist-popup {
  padding: 100px;
  width: 50%;
  height: auto;
  position: relative;
}

.size-assist-closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.size-assist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.size-assist-header h2 {
  font-family: heading;
  font-weight: 400;
  font-size: 24px;
}

.size-assist-quizBtn {
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.size-assist-section {
  margin-top: 20px;
  text-align: left;
}

.size-assist-section h3 {
  color: #888;
  margin-bottom: 10px;
  font-family: heading;
  font-weight: 400;
  font-size: 18px;
}

.size-assist-section ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc !important; /* ensures bullets */
  list-style-position: inside !important; /* bullets appear inside the padding */
}

.size-assist-tableWrapper {
  overflow-x: auto;
  margin-top: 10px;
}
.measure-table {
  margin-top: 30px;
}

.size-assist-tableWrapper table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.size-assist-tableWrapper th,
.size-assist-tableWrapper td {
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}
.size-assist-tableWrapper th:first-child,
.size-assist-tableWrapper td:first-child {
  position: sticky;
  left: 0;
  text-align: left;
  z-index: 2;
  width: fit-content;
}

.size-assist-tableWrapper th {
  font-weight: normal;
  color: #888;
}

@media (max-width: 576px) {
  .size-assist-overlay {
    padding: 50px 0;
    flex-direction: column; /* stack children vertically */
    justify-content: flex-start; /* start from top */
    align-items: stretch; /* take full width */
  }

  .size-assist-guide {
    width: 100%;
    padding: 20px;
  }
  .size-assist-popup {
    width: 100%;
    padding: 20px;
    order: -1;
  }
}
