/* SizeAssistance.css */

.size-assist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  font-family: paragraph;
  font-size: 13px !important;
  background-color: rgba(0, 0, 0, 0.488);
  overflow-y: auto;
  padding: 80px;
  backdrop-filter: blur(8px);
}
.size-assist_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #fadcde;
  padding: 40px;
}
.size-assist-guide {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.size-assist-guide img {
  width: 50%;
  filter: brightness(200%) invert(1);
  height: auto;
}
.size-assist-guide p {
  font-family: heading;
  font-weight: 400;
  font-size: 24px;
}
.size-assist-guide ol {
  margin: 20px 0;
}
.size-assist-guide ol,
.size-assist-guide li {
  list-style: decimal !important;
  margin-left: 0.4rem;
}
.size-assist-guide li {
  color: #767676;
  line-height: 1.4;
}
.size-assist-guide li span {
  color: #000;
}

.size-assist-popup {
  width: 50%;
  position: relative;
}

.size-assist-closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.size-assist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.size-assist-header h2 {
  font-family: heading;
  font-weight: 400;
  font-size: 24px;
}

.size-assist-quizBtn {
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  color: #000 !important;
}

.size-assist-section {
  margin-top: 30px;
  text-align: left;
}

.size-assist-section h3 {
  color: #888;
  margin-bottom: 10px;
  font-family: heading;
  font-weight: 400;
  font-size: 18px;
}
.size-heading {
  font-weight: 600;
}

.size-assist-section ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc !important; /* ensures bullets */
  list-style-position: inside !important; /* bullets appear inside the padding */
}

.size-assist-tableWrapper {
  overflow-x: auto;
  margin-top: 10px;
  width: 100%;
}
.size-assist-tableWrapper thead tr,
.size-assist-tableWrapper thead th {
  background-color: red !important;  
  color: white !important;          
}
/* Chrome, Edge, Safari */
.size-assist-tableWrapper::-webkit-scrollbar {
  height: 5px; /* horizontal scrollbar height */
}

.size-assist-tableWrapper::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}

.size-assist-tableWrapper::-webkit-scrollbar-thumb {
  background: #8888889c; 
  border-radius: 10px;
}

.size-assist-tableWrapper::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.measure-table {
  margin-top: 30px;
}
.size-assist-tableWrapper {
  overflow-x: auto; /* allow horizontal scrolling */
  width: 100%;
}

.size-assist-tableWrapper table {
  border-collapse: collapse;
  width: fit-content;
  text-align: center;
}

.size-assist-tableWrapper th,
.size-assist-tableWrapper td {
  width: 100px; /* fixed width */
  max-width: 100px;
  padding: 10px 5px;
  border-bottom: 1px solid #000;
  white-space: nowrap;   /* prevent wrapping */
  overflow: hidden;      /* hide overflow */
  text-overflow: ellipsis; /* add "..." when content too long */
}

.size-assist-tableWrapper th:first-child,
.size-assist-tableWrapper td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  width: 100px !important;
  max-width: 100px;
  background-color: #fadcde;
}
.size-assist-tableWrapper th:first-child::after,
.size-assist-tableWrapper td:first-child::after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: .5px;
  height: 100%;
  background-color: black;
}

@media (max-width: 576px) {
  .size-assist-overlay {
    padding: 0;
  }
  .size-assist_wrap {
    padding: 50px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .size-assist-guide {
    width: 100%;
    padding: 20px;
  }
  .size-assist-tableWrapper table {
    table-layout: fixed; /* force equal column widths */

}
  .size-assist-popup {
    width: 100%;
    padding: 20px;
    order: -1;
  }
}
