@font-face {
  font-family: heading;
  src: url(/assets/fonts/cob/font-ea9181547d67e56abd65.woff2);
}
@font-face {
  font-family: paragraph;
  src: url(/assets/fonts/cob/font-69130470425c85950313.woff2);
}
@font-face {
  font-family: paragraphStyle;
  src: url(/assets/fonts/dd34dea82ffd23ec2838.woff);
}
@font-face {
  font-family: paragraphStyleB;
  src: url(/assets/fonts/bd8de66be4175fed48a7.woff);
}
body::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fadcde;
}
a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* common btn  start */

#common_black_btn {
  width: 100%;
  height: 38px;
  max-width: 220px;
  padding: 8.5px 0;
  border-radius: 50px;
  border: 1px solid black;
  color: white;
  background-color: #000;
  font-family: paragraph;
  font-weight: 400;
  font-size: 14px;
  transition: all ease 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#common_black_btn:hover {
  font-weight: 600;
}

.common_btn_loadin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5vw;
}
.loading_line_wrap{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loading_line {
  width: 100%;
  height: 0.8px;
  background-color: #fff;
  animation: slide-animation 1s ease-in-out infinite;
}

@keyframes slide-animation {
  0% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* common btn end */

.w-100 {
  width: 100% !important;
}

/* Button */

._btn_wrapper {
  font-family: paragraph;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  height: 38px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  cursor: pointer;
}

#tab_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
.css-1cgdl3v-MuiTabs-root {
  border: none !important;
}
#logout_btn {
  margin: 0 !important;
}
._btn-width {
  width: 100%;
  /* max-width: 235px; */
}
.footer_nav_signup_btn_align ._btn_wrapper {
  justify-content: center;
  width: 100%;
  /* max-width: 235px; */
}
._btn_wrapper:hover {
  background-color: #000;
  color: #fff;
}
/* Button */

.flex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  align-items: center;
}
._btn_wrapper2 {
  font-family: paragraph;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.35;
  height: 40px;
  color: white;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 9999px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  cursor: pointer;
  height: 34px;
}
._btn_wrapper3 {
  font-family: Centra No2, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.35;
  height: 40px;
  color: white;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 9999px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  cursor: pointer;
  height: 34px;
}
._btn_wrapper2:hover {
  background-color: transparent;
  color: #000;
}
._btn_wrapper3:hover {
  background-color: #4b4b4b;
}
.ani-wrap {
  width: 180px;
  margin-left: 20px;
  max-width: 100%;
  display: grid;
  height: 0.5px;
  overflow: hidden;
}

@keyframes slide-animation {
  0% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.ani-main {
  width: 100%;
  background-color: white;
  animation: slide-animation 1s ease-in-out infinite;
}

/* header start */

.navbar-mobile {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9;
  height: 65px;
  padding: 0 20px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

#menu-btn {
  position: relative;
  z-index: 10;
  width: 25px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line1m {
  top: 0px;
}
.line2m {
  top: 100%;
}
.linem {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: black;
  transform-origin: center;
}
.side-menu-links {
  user-select: none !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  justify-content: space-between;
  height: 90%;
}

.side-menu-links a,
.side-menu-links span {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  font-size: calc(14.81px - 0.22vw);
  font-family: paragraph;
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.35;
}
#side-navbar {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.nav-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
/* .nav-contact{
  margin-top: 15vh;
} */
.nav-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 3vh;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.login-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.login-nav ._btn_wrapper {
  width: 100% !important;
}
.login-nav p {
  font-size: calc(14.81px - 0.22vw);
  font-weight: 500;
  font-family: paragraph;
}
.nav-contact p {
  font-size: calc(14.81px - 0.22vw);
  font-family: paragraph;
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.35;
}
.nav-contact p:nth-child(1) {
  text-transform: capitalize;
  margin-bottom: 10px;
  opacity: 0.6;
}

#nav-logo {
  font-family: paragraph;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 10;
  text-decoration: none;
  color: black;
  width: 100%;
  gap: 8px;
}
#nav-logo img {
  width: auto;
  height: 4vw;
}
.menu-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
}
.navbar-mobile-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.menu-icons a {
  line-height: 0;
}
#header-logo {
  font-family: paragraph;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 2px;
  position: fixed;
  height: 80px;
  display: flex;
  align-items: center;
  padding-top: 9px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  /* top: calc(100vh - 150px); */
  top: 0%;
  text-decoration: none;
  color: #fff;
  mix-blend-mode: difference;
}
.header-links {
  display: flex;
  gap: 35px;
  align-items: center;
  height: 30px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  /* top: calc(100vh - 65px); */
  top: 80px;
}
.link-wp {
  height: 100%;
  display: flex;
  gap: 60px;
  align-items: center;
  background-color: #f7f7f7;
  padding: 0 30px;
}
/* #about-link {
  margin-left: 35px;
} */
.header-links a,
.header-links span {
  color: #000;
  line-height: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  font-family: paragraph;
  cursor: pointer;
}

/* header end */

.nav-social-icons {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.nav-social-icons .nav-s-icon {
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  border-radius: 50%;
  border: 1px solid black;
}
.nav-social-icons .nav-s-icon svg {
  fill: black !important;
  width: 12px;
  height: 12px;
}
.nav-social-icons .nav-s-icon svg path {
  fill: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 50vh;
  text-align: center;
  font-size: 18px;
  background: #fadcde;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
  #common_black_btn {
    width: 100%;
    max-width: 100%;
  }
  .common_btn_loadin{
    padding: 0 8vw;
  }
  #menu-btn {
    width: 22px;
    height: 9px;
  }
  .bag-icon,
  .account-logo {
    width: 19px;
    height: 19px;
  }
  .linem {
    width: 22px;
    height: 1.2px;
  }
  #edit_profile {
    left: 88% !important;
  }
  .navbar-mobile {
    display: flex;
  }
  #about-link {
    margin-left: 0px;
  }
  #left h2 {
    font-size: 2.5rem;
  }
  .back {
    display: none;
  }
  .header-links a,
  .header-links span {
    font-size: 10px;
    font-weight: 600;
  }
  .Footer_wrapper {
    padding: 20px;
    padding-top: 40px;
  }
  ._list-links {
    margin: 6px 0;
  }
  .footer_nav_ul_list p {
    margin: 7px 0;
  }
}
