@font-face {
  font-family: Henry-Italic;
  src: url(https://cdn.shopify.com/oxygen-v2/24187/8316/16871/768954/build/_assets/Henry-Italic-XZWGQLUJ.woff2);
}
:root {
  --primary-font-Hel: Helvetica, sans-serif;
  --secondary-font-Hen: Henry-Italic, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Helvetica, sans-serif; */
}

html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}

/* Footer */
.Footer_wrapper {
  padding: 26px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #ffff; */
  background: linear-gradient(4.66deg, #FD8D6C -8%, rgba(244, 240, 235, 1) 14%);
  position: relative;
  border-top: 0.5px solid rgba(128, 128, 128, 0.307);
}
.Footer_cntr {
  display: flex;
  flex-direction: column;
}
.Footer_SocialLinks_cntr {
  max-width: 100%;
}
.fotter_nav {
  width: 100%;
  display: flex;
}
.footer_nav_ul {
  margin-bottom: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  width: 100%;
}
ul {
  list-style: inherit;
}
ul,
li {
  list-style: none;
}
.footer_nav_ul_list {
  max-width: 200px;
  flex-grow: 1;
}
.footer_nav_ul_list p {
  margin: 7px 4px;
  color: #767676;
}
._list-links {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  margin: 6px;
}

._list-links-redirect {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  border-radius: 50%;
  text-wrap: wrap;
  cursor: pointer;
  /* color: #000 !important; */
  background: none;
}
.footer_links {
  color: #000 !important;
  text-decoration: none;
}
.links::before {
  content: "";
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 9999px;
  background: currentColor;
  position: absolute;
  left: 0;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s linear;
  top: 50%;
  transform: translate(-50%, -50%);
}
._list-links-redirect:hover .links::before {
  opacity: 1;
  transform: scale(1);
  left: -15px;
}
.responsive_header_inner {
  color: #000 !important;
}
.footer_nav_signup_btn_cntr {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  width: 100%;
}
.footer_nav_signup_btn_align {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Footer_SocialLinks_bottom {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.35;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--_16q18zo9);
  column-gap: 12px;
  margin-top: 12px;
}
.Footer_SocialLinks_bottom li {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  margin: 6px 0;
}
.Footer_SocialLinks_bottom li a {
  color: #767676;
}
.links {
  text-decoration: none;
  transition: all 0.5s linear;
  color: #000;
  font-weight: 400;
}
.links:hover {
  color: #000;
}
@media only screen and (min-width: 375px) {
  .footer_nav_ul_list p,
  .footer_links {
    font-size: calc(14.81px - 0.22vw);
  }
}
@media only screen and (min-width: 740px) {
  .Footer_wrapper {
    padding: 40px;
  }
  .Footer_cntr {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .footer_nav_ul {
    display: flex;
    gap: 24px;
  }
  ._list-links {
    margin: 4px;
  }
  .footer_nav_signup_btn_cntr {
    min-width: 235px;
    margin-bottom: 32px;
  }
  .footer_nav_signup_btn_align {
    justify-content: flex-end;
  }
  ._btn_height {
    height: 34px;
  }
  .Footer_SocialLinks_bottom {
    column-gap: 28px;
    margin-top: 28px;
    justify-content: end;
  }
  .Footer_SocialLinks_bottom li {
    margin: 4px;
  }
  .footer_nav_signup_btn_align ._btn_wrapper {
    max-width: 235px;
  }
}
/* Footer */

/* Button */

._btn_wrapper {
  font-family: Centra No2, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  height: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 9999px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  cursor: pointer;
}
._btn-width {
  width: 100%;
  /* max-width: 235px; */
}
.footer_nav_signup_btn_align ._btn_wrapper {
  justify-content: center;
  width: 100%;
  /* max-width: 235px; */
}
._btn_wrapper:hover {
  background-color: #000;
  color: #fff;
}
/* Button */

.flex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  align-items: center;
}
._btn_wrapper2 {
  font-family: Centra No2, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  height: 40px;
  color: white;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 9999px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  cursor: pointer;
  height: 34px;
}
._btn_wrapper3 {
  font-family: Centra No2, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  height: 40px;
  color: white;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 9999px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  cursor: pointer;
  height: 34px;
}
._btn_wrapper2:hover {
  background-color: transparent;
  color: #000;
}
._btn_wrapper3:hover {
  background-color: #4b4b4b;
}
.ani-wrap {
  width: 180px;
  margin-left: 20px;
  max-width: 100%;
  display: grid;
  height: 0.5px;
  overflow: hidden;
}

@keyframes slide-animation {
  0% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.ani-main {
  width: 100%;
  background-color: white;
  animation: slide-animation 1s ease-in-out infinite;
}

/* contact css */
#page1 {
  height: 100vh;
  width: 100%;
  padding: 22vh 3vw;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  color: black;
  background: linear-gradient(180deg, rgba(252, 230, 222, 1) 0%, rgba(244, 240, 235, 1) 100%);
  /* background-color: white; */
}
#form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#left {
  width: 50%;
  height: 100%;
}
#left h2 {
  font-size: 6vw;
  line-height: 1;
  font-family: var(--secondary-font-Hen);
  font-weight: 500;
  text-transform: capitalize;
}
#right {
  width: 50%;
  height: 100%;
}

#right form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#right form .input {
  width: 49%;
  margin-bottom: 30px;
  position: relative;
}
.linei {
  width: 100%;
  height: 0.08vw;
  background-color: black;
  position: absolute;
  bottom: 0%;
  left: 0;
  transform-origin: left; /* Scale starts from the left initially */
  transform: scaleX(0);
}

#right form .input.active h6 {
  top: 0%;
  font-size: 0.7vw;
  opacity: 0.8;
}
#right form .input h6,
#right form .textarea h6 {
  font-size: calc(16px - 0.22vw);
  font-family: var(--primary-font-Hel);
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  transition: all ease 0.3s;
  text-transform: capitalize;
}
#right form .textarea h6 {
  top: 15%;
}
#right form .textarea.active h6 {
  top: 0%;
  font-size: 0.7vw;
  opacity: 0.8;
}
#right form input {
  flex-shrink: 0;
  width: 100%;
  padding: 1vw 0;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.745);
}
#right form .textarea {
  width: 100%;
  position: relative;
  height: 20vh;
}
#right form textarea {
  padding: 1vw 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.745);
}
#address {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

#address .elem {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.elem-lf h5 {
  width: 50%;
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  line-height: 160%;
  font-size: calc(16px - 0.22vw);
}
.elem .add {
  width: 49%;
  height: 100%;
}

.elem .add h6 {
  font-size: calc(16px - 0.22vw);
  opacity: 0.8;
  font-family: var(--primary-font-Hel);
  line-height: 160%;
  font-weight: 400;
}
.elem .add h5 {
  font-size: calc(16px - 0.22vw);
  font-family: var(--primary-font-Hel);
  line-height: 160%;
  font-weight: 400;
}
#submit-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: black;
  color: white !important;
  transition: all ease 0.3s;
  font-size: calc(16px - 0.22vw);
  font-family: var(--primary-font-Hel);
  text-transform: uppercase;
  line-height: 160%;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-top: 30px;
  cursor: pointer;
}

/* contact css end */

.home-wrapper {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, rgba(243, 239, 237, 1) 0%, rgba(252, 230, 222, 1) 100%);
}

.home-slider {
  /* position: fixed; */
  /* top: 0%; */
  /* left: 0; */
  /* height: 100svh; */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  /* overflow: hidden; */
}

.horizontal-scroll {
  width: fit-content;
  display: flex;
  align-items: center;
}
#logo-h {
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 99;
  transform: translateX(-50%);
  font-size: 30px;
  text-transform: uppercase;
  word-spacing: 2px;
  color: #000000;
  font-family: font2;
  font-weight: 600;
}
.slide1 {
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  aspect-ratio: 16/9;
  position: relative;
  z-index: 2;
}
.slide1 > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sl1-ig1 {
  position: absolute;
  object-fit: cover;
  width: 80%;
  height: auto;
  bottom: 5%;
  left: 0;
}
#sl1-ig2 {
  position: absolute;
  object-fit: cover;
  width: 80%;
  height: auto;
  bottom: 0%;
  right: -20%;
}
#sl1-ig3 {
  position: absolute;
  width: 58%;
  height: auto;
  object-fit: cover;
  top: 38%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}
#sl1-ig4 {
  height: auto;
  position: absolute;
  width: 60%;
  object-fit: cover;
  left: 0%;
  bottom: -5%;
}
#sl1-ig44 {
  height: auto;
  position: absolute;
  width: 60%;
  object-fit: cover;
  left: 50%;
  bottom: -5%;
}
#sl1-ig5 {
  position: absolute;
  width: 25%;
  height: auto;
  object-fit: cover;
  left: -16%;
  bottom: -4%;
  z-index: 2;
  transform-origin: bottom;
  animation-name: img5;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes img5 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#sl1-ig6 {
  position: absolute;
  width: 45%;
  height: auto;
  left: 12%;
  bottom: 8%;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes img6 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#sl1-ig7 {
  position: absolute;
  width: 24%;
  height: auto;
  object-fit: cover;
  left: 25%;
  bottom: 0%;
  rotate: 20deg;
  z-index: 3;
}
#sl1-ig8 {
  position: absolute;
  width: 35%;
  height: auto;
  object-fit: cover;
  left: 12%;
  bottom: 16%;
  display: none;
}

#sl1-ig9 {
  position: absolute;
  width: 25%;
  height: auto;
  object-fit: cover;
  left: 2%;
  bottom: -19%;
  z-index: 2;
  transform-origin: bottom;
  animation-name: img5;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#sl1-ig10 {
  position: absolute;
  width: 12%;
  height: auto;
  object-fit: cover;
  right: 10%;
  top: 12%;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#sl1-ig11 {
  position: absolute;
  width: 20%;
  height: auto;
  left: 68%;
  top: 28%;
}
#sl1-ig12 {
  position: absolute;
  width: 45%;
  height: auto;
  object-fit: cover;
  left: 45%;
  top: 28%;
  z-index: 1;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#sl1-ig122 {
  position: absolute;
  width: 20%;
  height: auto;
  object-fit: cover;
  left: 55%;
  top: 6%;
  z-index: 1;
  transform-origin: bottom;
}
#sl1-ig13 {
  position: absolute;
  width: 30%;
  height: auto;
  object-fit: cover;
  right: -13%;
  top: 18%;
  z-index: 3;
  transform-origin: bottom;
  animation-name: img5;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#sl1-ig14 {
  position: absolute;
  width: 35%;
  height: auto;
  object-fit: cover;
  right: -13%;
  bottom: -20%;
  z-index: 6;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#sl1-ig15 {
  position: absolute;
  width: 20%;
  height: auto;
  object-fit: cover;
  left: -2%;
  top: 10%;
  z-index: 1;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
#sl1-ig16 {
  position: absolute;
  width: 55%;
  height: auto;
  object-fit: cover;
  right: -40%;
  top: 6%;
  z-index: 99;
  transform-origin: bottom;
  animation-name: img5;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  z-index: 2;
}
.slide1-container {
  position: relative;
  aspect-ratio: 1918 / 1080;
  z-index: 2;
}
.slide2 {
  flex: 0 0 auto;
  height: 100%;
  aspect-ratio: 2250 / 1080;
  position: relative;
  z-index: 1;
}
.slide2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#sl2-ig1 {
  position: absolute;
  width: 75%;
  height: auto;
  object-fit: cover;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

#sl2-ig2 {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#sl2-ig3 {
  position: absolute;
  width: 31%;
  height: auto;
  object-fit: cover;
  bottom: 27%;
  left: 47%;
  transform: translate(-50%, 0);
}

#sl2-ig4 {
  position: absolute;
  width: 12%;
  height: auto;
  object-fit: cover;
  bottom: 35%;
  right: 2%;
  transform-origin: bottom;
  animation-name: img5;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#sl2-ig5 {
  position: absolute;
  width: 12%;
  height: auto;
  object-fit: cover;
  bottom: 30%;
  right: 2%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes img7 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#sl2-ig6 {
  position: absolute;
  width: 35%;
  height: auto;
  object-fit: cover;
  bottom: 15%;
  right: 5%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

#sl2-ig7 {
  position: absolute;
  width: 18%;
  height: auto;
  left: 10%;
  bottom: 20%;
}
#sl2-ig8 {
  position: absolute;
  width: 22%;
  height: auto;
  left: 11%;
  bottom: 5%;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
#sl2-ig9 {
  position: absolute;
  width: 16%;
  height: auto;
  left: 25%;
  bottom: 5%;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
#sl2-ig10 {
  position: absolute;
  width: 10%;
  height: auto;
  left: 47%;
  bottom: 30%;
  transform-origin: bottom;
  animation-name: img6;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

#sl2-ig11 {
  position: absolute;
  width: 9%;
  height: auto;
  left: 37%;
  bottom: 15%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

#sl2-ig12 {
  position: absolute;
  width: 9%;
  height: auto;
  left: 55%;
  bottom: 25%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

#sl2-ig13 {
  position: absolute;
  width: 18%;
  height: auto;
  left: 42%;
  bottom: 10%;
  transform-origin: bottom;
  animation-name: img7;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

#sl2-ig14 {
  position: absolute;
  width: 30%;
  height: auto;
  right: 5%;
  bottom: 10%;
}
#sl2-ig15 {
  position: absolute;
  width: 8%;
  height: auto;
  right: 26%;
  bottom: 64%;
}
#sl2-ig16 {
  position: absolute;
  width: 5.5%;
  height: auto;
  right: 5.3%;
  top: 15%;
}

#sl2-ig17 {
  position: absolute;
  width: 6%;
  height: auto;
  right: 5%;
  top: 10%;
  transform-origin: top;
  animation-name: upDown;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Home slider end */

/* header start */

.navbar-mobile {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9;
  height: 65px;
  padding: 0 20px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

#menu-btn {
  position: relative;
  z-index: 10;
  width: 25px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line1m {
  top: 0px;
}
.line2m {
  top: 100%;
}
.linem {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: black;
  transform-origin: center;
}
.side-menu-links {
  user-select: none !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  justify-content: space-between;
  height: 90%;
}

.side-menu-links a,
.side-menu-links span {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  font-size: calc(14.81px - 0.22vw);
  font-family: var(--primary-font-Hel);
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  line-height: 1.35;
}
#side-navbar {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.nav-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
/* .nav-contact{
  margin-top: 15vh;
} */
.nav-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 3vh;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}
.login-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.login-nav ._btn_wrapper {
  width: 100% !important;
}
.login-nav p {
  font-size: calc(14.81px - 0.22vw);
  font-weight: 500;
  font-family: var(--primary-font-Hel);
}
.nav-contact p {
  font-size: calc(14.81px - 0.22vw);
  font-family: var(--primary-font-Hel);
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  line-height: 1.35;
}
.nav-contact p:nth-child(1) {
  text-transform: capitalize;
  margin-bottom: 10px;
  opacity: 0.6;
}

#nav-logo {
  font-family: var(--primary-font-Hel);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 10;
  text-decoration: none;
  color: black;
  width: 100%;
  gap: 8px;
}
#nav-logo img {
  width: auto;
  height: 4vw;
}
.menu-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.menu-icons a {
  line-height: 0;
}
#header-logo {
  font-family: var(--primary-font-Hel);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 2px;
  position: fixed;
  height: 80px;
  display: flex;
  align-items: center;
  padding-top: 9px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  /* top: calc(100vh - 150px); */
  top: 0%;
  text-decoration: none;
  color: #fff;
  mix-blend-mode: difference;
}
.header-links {
  display: flex;
  gap: 35px;
  align-items: center;
  height: 30px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  /* top: calc(100vh - 65px); */
  top: 80px;
}
.link-wp {
  height: 100%;
  display: flex;
  gap: 60px;
  align-items: center;
  background-color: #f7f7f7;
  padding: 0 30px;
}
/* #about-link {
  margin-left: 35px;
} */
.header-links a,
.header-links span {
  color: #000;
  line-height: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  font-family: var(--primary-font-Hel);
  cursor: pointer;
}
/* header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
} */
/* header end */

.nav-social-icons {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.nav-social-icons .nav-s-icon {
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  border-radius: 50%;
  border: 1px solid black;
}
.nav-social-icons .nav-s-icon svg {
  fill: black !important;
  width: 12px;
  height: 12px;
}
.nav-social-icons .nav-s-icon svg path {
  fill: black;
}
/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
  #menu-btn {
    width: 22px;
    height: 9px;
  }
  .bag-icon,
  .account-logo {
    width: 19px;
    height: 19px;
  }
  .linem {
    width: 22px;
    height: 1.2px;
  }
  .slide1 {
    width: 385vw;
  }
  .slide2 {
    width: 385vw;
  }
  #edit_profile {
    left: 88% !important;
  }
  #page1 {
    height: auto;
    min-height: 100vh;
    padding: 150px 20px 80px;
    width: 100% !important;
  }

  #right form .input.active h6 {
    top: 0%;
    /* font-size: .7vw; */
    opacity: 0.8;
    font-size: calc(13px - 0.22vw);
  }
  #right form .textarea.active h6 {
    top: 0%;
    font-size: 0.7vw;
    font-size: calc(13px - 0.22vw);
    opacity: 0.8;
  }

  .navbar-mobile {
    display: flex;
  }
  #about-link {
    margin-left: 0px;
  }
  #left h2 {
    font-size: 2.5rem;
  }
  .back {
    display: none;
  }
  .header-links a,
  .header-links span {
    font-size: 10px;
    font-weight: 600;
  }
  .Footer_wrapper {
    padding: 20px;
    padding-top: 40px;
  }
  ._list-links {
    margin: 6px 0;
  }
  .footer_nav_ul_list p {
    margin: 7px 0;
  }
  #logo-h {
    top: 35px;
    font-size: 25px;
    white-space: nowrap;
    display: none;
  }
  .header-links {
    gap: 20px;
    padding: 0 15px;
  }
  #header-logo {
    font-family: font2;
    font-size: 25px;
    white-space: nowrap;
  }
  #page1 #form {
    width: 100% !important;
    flex-direction: column;
    gap: 35px;
  }
  #left {
    width: 100%;
  }
  #right {
    width: 100%;
  }
  .ani-wrap {
    width: 100%;
    margin: 0 20px;
    max-width: 100%;
    display: grid;
    height: 0.5px;
    overflow: hidden;
  }
  #11 {
    height: auto;
    width: 100%;
    padding: 150px 20px 80px;
  }
  #address {
    height: auto;
    flex-direction: column;
  }
  #address .elem {
    width: 100%;
    height: auto;
    margin-top: 35px;
  }
  .elem-lf h5 {
    width: 100%;
  }

  .shop_shopSection5__F_s2Y {
    width: 100%;
    height: 100vh !important;
    position: relative;
  }

  .archive_archiveSection2__1iUZs h3 {
    width: 90% !important;
    font-size: 22px !important;
  }
  .archive_overlay3a__R6Fpe .archive_textContainer__xiQiu {
    width: 100% !important;
  }
  .archive_overlay3a__R6Fpe .archive_textContainer__xiQiu h4 {
    font-size: 5vw !important;
  }
  .archive_overlay3a__R6Fpe {
    padding: 30px !important;
  }
  .shop_shopWrapper__YbkUf h2 {
    letter-spacing: 0px !important;
  }

  .header-links {
    display: none;
  }
  #header-logo {
    display: none;
  }
}
