.Vertical_wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.Vertical_wrapper_video_sec {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
}

.Vertical_wrapper_video_sec-1 {
  clip-path: inset(0 0 0 0);
  height: 100%;
}

.Vertical_wrapper_video_sec-2 {
  clip-path: inset(100% 0 0 0);
}

.Vertical_wrapper_video_sec-3 {
  clip-path: inset(100% 0 0 0);
}
.Vertical_wrapper_video_sec-4 {
  clip-path: inset(100% 0 0 0);
}

.Vertical_wrapper_video_sec_common img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Vertical_wrapper .tile__inner {
  position: absolute;
  bottom: 3.125rem;
  left: 0px;
  right: 0px;
  width: max-content;
  margin: 0px auto;
  z-index: 10;
  text-align: center;
}

.overlay3a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.314);
  padding: 100px;
}
.Vertical_wrapper_video_sec-2 .overlay3a{
  align-items: center;
}
.Vertical_wrapper_video_sec-3 .overlay3a{
  align-items: center;
  justify-content: flex-end;
}
.Vertical_wrapper_video_sec-4 .overlay3a{
  align-items: flex-end;
  justify-content: flex-end;
}
.overlay3a .textContainer{
  width: 30%;
}
.overlay3a .textContainer h4{
  color: white;
  font-size: 2vw;
  font-family: font2;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.overlay3a .textContainer p{
  color: white;
  font-size: 14px;
  font-family: font1;
  font-weight: 500;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.tiles_inner_text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  margin: 0px auto 1.5rem;
}

.tiles_inner_text a {
  /* text-decoration: underline; */
  color: #fff;
}

.Vertical_wrapper .tiles_inner_text h1 {
  font-size: 4vw;
  line-height: 0.8;
  letter-spacing: -0.04em;
  font-weight: 200;
}

.tiles_inner_button {
  position: relative;
  color: #fff;
}

.tiles_inner_button span {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* How_to_Nail_it_Cntr */
#How_to_Nail_it_Cntr {
  background-color: #fff;
  width: 100%;
  position: relative;
  /* background-color: #cbbbbb; */
  /* background: linear-gradient(#cbbbbb, #ebdcdc, #cbbbbb); */
  /* padding-bottom: 20.5882352941vw; */
  padding-top: 16.4705882353vw;
  position: relative;
}

#How_to_Nail_it_Cntr .row {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 106.25rem;
  padding-left: 5.8823529412vw;
  padding-right: 5.8823529412vw;
}

#How_to_Nail_it_Cntr .row.how_we_picture {
  align-items: center;
  justify-content: center;
}

#How_to_Nail_it_Cntr .how_we_picture_inner {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

#How_to_Nail_it_Cntr .how-we-image {
  position: relative;
  text-align: center;
}

#How_to_Nail_it_Cntr .mask-memoji-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#How_to_Nail_it_Cntr .mask-memoji-wrapper .curved-text {
  left: 50%;
  position: absolute;
  top: -115px;
  transform: translateX(-50%);
}

.mask-memoji-wrapper .mask {
  border-radius: 190px;
  bottom: 0;
  clip-path: url(#mask-curve);
  -webkit-clip-path: url(#mask-curve);
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.block-bg-cover {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.block-bg-cover .element-cover {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.block-bg-cover img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mask-memoji-wrapper .mask img {
  -o-object-position: 85% 50%;
  object-position: 85% 50%;
}

.mask-memoji-wrapper .memoji {
  position: absolute;
  top: -180px;
  transform: scale(0.58) scaleX(-1);
}

.mask-memoji-wrapper .memoji img {
  /* width: 16vw; */
  transform: rotateZ(14.6035deg);
}

#How_to_Nail_it_Cntr .nail_para_text_cntr {
  align-items: center;
  justify-content: center;
}

#How_to_Nail_it_Cntr .nail_para_text {
  flex: 0 0 25%;
  max-width: 25%;
}

#How_to_Nail_it_Cntr .nail_para_text .p-normal.text-top {
  color: #222;
  /* font-size: calc(1.2875rem + 0.2vw); */
  font-size: 0.75rem;
  letter-spacing: -0.01em;
  line-height: 1.5em;
  margin-top: 2.6470588235vw;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--primary-font-Hel);
}

#How_to_Nail_it_Cntr .divider {
  background-color: #222;
  height: 100px;
  margin: 35px auto;
  position: relative;
  width: 1px;
}

#How_to_Nail_it_Cntr .nail_para_text-bottom {
  flex: 0 0 50%;
  max-width: 50%;
}

#How_to_Nail_it_Cntr .p-normal.text {
  color: #222;
  /* font-size: calc(1.325rem + 0.4vw); */
  font-size: 1rem;
  letter-spacing: -0.02em;
  line-height: 1.3em;
  margin-bottom: 7.0588235294vw;
  position: relative;
  text-align: center;
  font-family: var(--primary-font-Hel);
}

#How_to_Nail_it_Cntr .pictos-wrapper {
  margin-bottom: 19.4117647059vw;
  position: relative;
}

#How_to_Nail_it_Cntr .line-wrapper,
#How_to_Nail_it_Cntr .pictos-label {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#How_to_Nail_it_Cntr .st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#How_to_Nail_it_Cntr .st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#How_to_Nail_it_Cntr .p-normal {
  color: #fff;
  font-size: calc(1.475rem + 1.2vw);
  letter-spacing: -0.01em;
  line-height: 1.2em;
}

#How_to_Nail_it_Cntr .anime-container {
  margin-top: 1px;
}

#How_to_Nail_it_Cntr .anime-container svg {
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  /* contentvisibility: visible; */
}

#How_to_Nail_it_Cntr .pictos-label .picto-one {
  left: 35.2941176471vw;
  position: absolute;
  text-align: center;
  top: 29.4117647059vw;
  width: 14.7058823529vw;
}

#How_to_Nail_it_Cntr .pictos-label .p-normal {
  color: #222;
  font-size: calc(1.275rem + 0.13333vw);
  font-size: 1.3529411765vw;
  letter-spacing: 0;
  line-height: 1;
  font-family: var(--primary-font-Hel);
}

#How_to_Nail_it_Cntr .pictos-label .picto-two {
  left: 5.8823529412vw;
  position: absolute;
  text-align: center;
  top: 64.7058823529vw;
  width: 14.7058823529vw;
}

#How_to_Nail_it_Cntr .pictos-label .picto-three {
  bottom: 29.4117647059vw;
  left: 55.8823529412vw;
  position: absolute;
  text-align: center;
  width: 14.7058823529vw;
}

#How_to_Nail_it_Cntr .pictos-label .picto-four {
  bottom: -2.9411764706vw;
  left: 17.6470588235vw;
  position: absolute;
  text-align: center;
  width: 14.7058823529vw;
}

#How_to_Nail_it_Cntr .line-wrapper svg path {
  stroke-dasharray: 8945.95;
  stroke-dashoffset: -8945.95;
}

#How_to_Nail_it_Cntr .st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.title_inner-nail {
  flex: 0 0 100%;
  max-width: 100%;
}

.title_inner-nail.columns {
  flex: 1 1 0;
  min-width: 0;
  min-width: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.title_inner-nail h2 {
  color: #222;
  position: relative;
  font-size: 12.3529411765vw;
  text-align: center;
  line-height: 0.9em;
  /* letter-spacing: -0.4em; */
  /* transform: translate(0px, 0px); */
  /* opacity: 1; */
  font-weight: 400;
  font-family: var(--secondary-font-Hen);
}

.title_inner-nail h2 span {
  transform: translateY(60%) skewX(20deg);
  display: inline-block;
  opacity: 0;
}

.title_inner-nail h2 .serif-italic {
  font-style: italic;
}

.title_inner-nail .arrow {
  transform: translateY(-50%) scaleY(0.5);
  transform-origin: top;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  opacity: 0;
}

@media screen and (max-width: 1100px) {
  #How_to_Nail_it_Cntr .how_we_picture_inner {
    flex: 0 0 75%;
    max-width: 75%;
  }

  #How_to_Nail_it_Cntr .how-we-image {
    height: 300px;
    transform: scale(0.5);
    transform-origin: top;
  }

  #How_to_Nail_it_Cntr .nail_para_text .p-normal.text-top {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }

  #How_to_Nail_it_Cntr .nail_para_text {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  #How_to_Nail_it_Cntr .nail_para_text-bottom {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  #How_to_Nail_it_Cntr .p-normal.text {
    font-size: 1rem;
    line-height: 1.2em;
  }

  .title_inner-nail h2 {
    text-align: center;
  }

  .title_inner-nail .arrow {
    margin-top: 40px;
  }

  #How_to_Nail_it_Cntr .arrow svg {
    width: 64px;
  }
}

@media only screen and (max-width: 960px) {
  #How_to_Nail_it_Cntr {
    padding-top: calc(4.5rem + 17.33333vw);
  }

  #How_to_Nail_it_Cntr .row {
    padding-left: calc(2.25rem + 5.33333vw);
  }

  #How_to_Nail_it_Cntr .nail_para_text .p-normal.text-top {
    margin-top: calc(1.5625rem + 1.66667vw);
  }

  #How_to_Nail_it_Cntr .nail_para_text {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  #How_to_Nail_it_Cntr .p-normal.text {
    margin-bottom: calc(2.5rem + 6.66667vw);
  }

  .title_inner-nail h2 {
    font-size: calc(3.625rem + 12.66667vw);
  }
}

@media screen and (max-width: 835px) {
  #How_to_Nail_it_Cntr .how-we-image {
    height: 450px;
    transform: scale(0.8);
    transform-origin: top;
  }

  .title_inner-nail h2 {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 767px) {
  #How_to_Nail_it_Cntr .row {
    padding-left: 20px;
    padding-right: 20px;
  }

  #How_to_Nail_it_Cntr .how-we-image {
    height: 300px;
    margin-left: -20px;
    transform: scale(0.5);
    transform-origin: top;
  }
}

@media only screen and (min-width: 1200px) {
  #How_to_Nail_it_Cntr .p-normal {
    font-size: 2.375rem;
  }

  .title_inner-nail h2 {
    font-size: 8.875rem;
  }

  #How_to_Nail_it_Cntr .pictos-label .p-normal {
    font-size: 0.75rem;
  }

  #How_to_Nail_it_Cntr .p-normal.text-top {
    font-size: 0.75rem;
    line-height: 1;
  }

  #How_to_Nail_it_Cntr .p-normal.text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1700px) {
  #How_to_Nail_it_Cntr {
    padding-top: 280px;
  }

  /* #How_to_Nail_it_Cntr {
    padding-bottom: 350px;
  } */
  #How_to_Nail_it_Cntr .row {
    padding-right: 100px;
    padding-left: 100px;
  }

  #How_to_Nail_it_Cntr .pictos-wrapper {
    margin-bottom: 330px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-one {
    width: 250px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-one {
    left: 600px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-one {
    top: 500px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-two {
    width: 250px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-two {
    left: 100px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-two {
    top: 1100px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-three {
    left: 950px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-three {
    bottom: 500px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-four {
    left: 300px;
  }

  #How_to_Nail_it_Cntr .pictos-label .picto-four {
    bottom: -50px;
  }
}

/* How_to_Nail_it_Cntr */

/* ShopCards_section */
.ShopCards_section {
  position: relative;
  overflow: hidden;
}

.ShopCards_container {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 40px;
  font-family: var(--primary-font-Hel);
}

.shop-card_grid {
  display: grid;
  background: none;
  display: inline-grid;
  white-space: nowrap;
  cursor: pointer;
  color: currentcolor;
  /* font-family: inherit; */
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: none;
}

.shop-card_grid:hover .shop_card_img_cover_hidden {
  opacity: 1;
}

.shop_card_cntr {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.shop_card_top {
  overflow-y: hidden;
  position: relative;
  grid-area: 1 / 1;
  background-color: #f5f5f5;
  display: grid;
  padding-top: 150px;
}

.shop_card_img_wrapper {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  top: 0px;
  left: 0px;
}

.shop_card_img_inner {
  display: none;
}

.shop_card_img_cntr {
  display: none;
}

.shop_card_img-wrapper {
  display: grid;
  transition: opacity 0.2s;
  min-width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.shop_card_brandwrap {
  display: flex;
}

.responsive_shop_wrapper {
  position: relative;
}

.shop_card_img_cover {
  display: grid;
  grid-area: 1 / 1;
  background-color: #f5f5f5;
  transition: opacity 0.2s;
}

.shop_card_img_bgcover {
  position: relative;
  display: grid;
  border: none;
  background-color: rgb(242, 246, 247);
}

.shop_card_img-main_cntr {
  position: relative;
  display: grid;
  border: none;
}

.shop_card_img-main_cntr img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.shop_card_img_cover_hidden {
  opacity: 0;
  display: grid;
  grid-area: 1 / 1;
  transition: opacity 0.2s;
}

/* shop_card_text_cntr */
/* .shop_card_text_cntr {
  display: grid;
  padding: 26px;
  column-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "sizes"
    "title"
    "description"
    "price";
  align-items: flex-start;
  overflow: hidden;
} */
.shop_card_text_cntr_inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ProductDets_title_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* padding: 26px; */
  overflow: hidden;
}

.ProductDets_text_container_brandName {
  font-size: 20px;
  display: none;
  font-family: var(--primary-font-Hel);
}

.shop_card_text_brandName {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.35;
  grid-area: title;
  width: 100%;
  margin-bottom: 4px;
}

.shop_card_brandwrap {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.shop_card_tag {
  /* font-family: Henry Italic, Helvetica, sans-serif; */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 1.2;
  color: #767676;
  grid-area: sizes;
  /* width: 100%; */
  display: flex;
  /* margin-bottom: 4px; */
  height: 18px;
  font-family: var(--secondary-font-Hen);
  text-transform: capitalize;
}

.shop_card_item_Name {
  /* font-family: Helvetica, sans-serif; */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1;
  /* margin-bottom: 4px; */
  grid-area: description;
  max-width: calc(50vw - 48px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-style: normal;
  display: flex;
  align-items: center;
}

.shop_card_price_wrap {
  /* font-family: Helvetica, sans-serif; */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.35;
  display: flex;
  grid-area: price;
  gap: 8px;
}

.shop_card_price_cntr {
  display: flex;
  font-family: var(--primary-font-Hel);
}

/* shop_card_text_cntr */

/* respcard */
.respo-shop_card-img_wrap {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  position: relative;
  white-space: nowrap;
  scrollbar-color: transparent;
}

.respo-shop_card-img_wrap::-webkit-scrollbar {
  height: 1px;
}

.respo-shop_card-img_wrap::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

.respo-shop_card-img_wrap::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

/* respcard */
.ReactModalPortal_img_cntr {
  position: relative;
  /* display: none; */
}
.ReactModalPortal_img_cntr_overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  opacity: 1;
  z-index: 999;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: flex-start;
}
.ReactModalPortal_img_cntr_cursor {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
  cursor: url(https://cdn.shopify.com/oxygen-v2/24187/8316/16871/844913/build/_assets/closeIcon-VRI5R4EX.svg),
    auto;
}
.ReactModalPortal_img_cntr_grid {
  position: relative;
  display: grid;
  border: none;
}
.ReactModalPortal_img_cntr_grid_cover {
  display: grid;
  border: none;
}
.ReactModalPortal_img_cntr_grid_cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.ReactModalPortal_img_cross {
  position: fixed;
  display: grid;
  width: 80px;
  height: 80px;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 10;
  font-size: 25px;
  cursor: pointer;
}
.ReactModalPortal_img_cross i {
  font-weight: 400;
}
@media only screen and (min-width: 375px) {
  .shop_card_tag,
  .Footer_SocialLinks_bottom li {
    font-size: calc(14.59px + 0.11vw);
  }
  .ProductDets_shipping_para {
    font-size: 12px !important;
  }
  .shop_card_text_cntr {
    padding-inline: 16px;
    padding-block: 16px;
  }
  .shop_card_brandwrap {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 500px) {
  .shop_card_item_Name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1120px) {
  .shop_card_brandwrap {
    justify-content: space-between;
  }
  .ShopCards_container {
    padding-bottom: 96px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 48px;
  }

  .shop_card_tag {
    justify-content: flex-end;
    font-size: 16px;
  }
  .shop_card_text_cntr {
    padding-inline: 16px;
    padding-block: 16px;
  }
}

@media (min-width: 1300px) {
  .shop_card_img_inner {
    display: block;
    height: 100%;
  }

  .shop_card_img-wrapper {
    min-width: unset;
  }

  .responsive_shop_wrapper {
    display: none;
  }

  .shop_card_text_cntr {
    padding-inline: 16px;
    padding-block: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title sizes"
      "description sizes"
      "price price";
  }

  .shop_card_img_cntr {
    display: block;
    height: calc(100vh - 160px);
  }

  .shop_card_tag {
    font-size: 15px;
  }

  .shop_card_item_Name {
    max-width: unset;
  }
}

/* ShopCards_section */

/* product card details */
.ProductDetails_wrapper {
  display: flex;
  flex-direction: column;
}

.ProductDetails_cntr {
  position: relative;
  list-style: none;
}

.ProductDets_main {
  display: none;
}

.ProductDets_grid {
  display: grid;
  /* transition: filter 0.3s ease; */
  background: #ffffff;
  filter: blur(0px);
}

.ProductDets_img_wrapper {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.ProductDets_img_slider_wrap {
  width: 56px;
  z-index: 3;
  top: 0;
  position: relative;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  transition: opacity 0.2s;
  opacity: 0;
  display: none;
}

.ProductDets_img_slider_cntr {
  height: calc(100vh - 180px - 32px);
  /* overflow: auto; */
  overflow: hidden;
  position: sticky;
  top: calc(180px + 32px);
  display: grid;
  align-items: end;
}

.ProductDets_img_slider_cntr::-webkit-scrollbar {
  display: none;
}

.ProductDets_img_slider_cntr_sticky {
  position: sticky;
  bottom: 0;
  left: 0;
  display: grid;
  width: fit-content;
}

.ProductDets_img_btn {
  width: 52px;
  height: 100%;
}

.ProductDets_img_align {
  background: none;
  display: inline-grid;
  white-space: nowrap;
  cursor: pointer;
  color: currentcolor;
  /* font-family: inherit; */
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  border: none;
  appearance: none;
  padding: 0;
  margin: 0;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

.ProductDets_imgs_grid_cntr {
  position: relative;
  display: grid;
  border: none;
}

.ProductDets_img_single_cntr {
  display: grid;
  border: none;
}

.ProductDets_img_single_cntr img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.ProductDets_img_slider_bar_cntr {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #fff;
}

.ProductDets_img_slider_bar {
  position: absolute;
  background-color: #000000;
  width: 1px;
  right: 0;
  z-index: 1;
}

.ProductDets_Big_img_wrap {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 150vw;
  height: 100%;
  scroll-snap-type: x mandatory;
  /* margin-top: 45px; */
  position: relative;
  /* grid: none; */
}

.ProductDets_Big_img_cntr {
  background: none;
  display: inline-grid;
  white-space: nowrap;
  cursor: pointer;
  color: currentcolor;
  /* font-family: inherit; */
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  display: grid;
  scroll-snap-align: flex-start;
  cursor: url(https://cdn.shopify.com/oxygen-v2/24187/8316/16871/768954/build/_assets/zoomIcon-ISPXVSEQ.svg),
    auto;
}

.ProductDets_Big_img_wrap::-webkit-scrollbar {
  height: 2px;
}

.ProductDets_Big_img_wrap::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

.ProductDets_Big_img_wrap::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.ProductDets_Big_img_cntr .ProductDets_Big_card_img-main_cntr {
  position: relative;
  display: grid;
  border: none;
}
.ProductDets_Big_img_cntr .ProductDets_Big_card_img-main_cntr img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
/* ProductDets_text_wrapper */
.ProductDets_text_wrapper {
  padding-top: 24px;
  padding-bottom: 40px;
  position: relative;
}

/* .ProductDets_text_cntr {
  position: sticky;
  bottom: 0;
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-template-areas:
    "mobileTitleContainer mobileTitleContainer"
    "selectedColorWrap colorPicker"
    "descriptionTitle descriptionTitle"
    "description description"
    "additionalInfoButtons additionalInfoButtons"
    "mobileBadge mobileBadge"
    "needHelpButtonWrap needHelpButtonWrap";
  margin-left: 26px;
  margin-right: 26px;
} */
.ProductDets_text-container {
  /* position: sticky;
  bottom: 0;
  background-color: red;
  padding: 26px; */
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
}

/* .ProductDets_text_cntr_resp {
  font-family: var(--primary-font-Hel);
  grid-area: mobileTitleContainer;
  display: grid;
  align-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 32px;
} */
.ProductDets_text_container_resp {
  display: grid;
  justify-content: flex-start;
  font-family: var(--primary-font-Hel);
  /* padding-bottom: 32px; */
  gap: 12px;
  /* grid-auto-flow: column; */
}
.ProductDets_text_container_resp_productName {
  font-family: var(--secondary-font-Hen);
  font-size: 20px;
}
.ProductDets_text_container_price_resp {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  /* grid-auto-flow: column; */
  font-family: var(--primary-font-Hel);
  font-size: 14px;
}

.ProductDets_text_container_price_resp_flex {
  display: flex;
}

.ProductDets_text_btn_resp_cntr {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 82;
  background: white;
  display: grid;
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  padding-bottom: 16px;
  display: initial;
}

.ProductDets_text_btn_resp_cntr .ProductDets_text_btn_resp_wrap {
  margin-left: 26px;
  margin-right: 26px;
}

.ProductDets_text_btn_resp_cntr ._w-full {
  width: 100% !important;
  max-width: 100%;
  justify-content: space-between;
}

.ProductDets_text_btn_resp_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* common-style */
.ProductDets_common_style {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: initial;
  line-height: 1.2;
}

/* common-style */
.ProductDets_text_resp_productName {
  font-family: var(--secondary-font-Hen);
  margin-left: 16px;
}

/* .ProductDets_text_brandName {
  grid-area: title;
  font-size: 20px;
  display: none;
  font-family: var(--primary-font-Hel);
} */
.ProductDets_text_container_productName {
  font-family: var(--secondary-font-Hen);
  font-size: 24px;
  display: none;
}

.ProductDets_reverse_content_wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.ProductDets_description_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  flex-direction: column;
  font-family: var(--primary-font-Hel);
  margin-block: 36px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  gap: 10px;
}

.ProductDets_text_container_prdt_Desc-title {
  font-size: 12px;
}

/* .ProductDets_text_prdt_Desc-title {
  grid-area: descriptionTitle;
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  margin-top: 36px;
} */
.ProductDets_text-container_prdt_Desc {
  max-width: 350px;
  font-family: var(--primary-font-Hel);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .ProductDets_text_prdt_Desc {
  grid-area: description;
  display: grid;
  gap: 20px;
  max-width: 350px;
  font-family: var(--primary-font-Hel);

  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
} */

.ProductDets_Variants {
  position: relative;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProductDets_colorVariant_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  gap: 12px;
  font-family: var(--primary-font-Hel);
}

.ProductDets_colorVariant_wrap span:nth-child(1) {
  display: flex;
  align-items: center;
  height: 25px;
}

.ProductDets_colorVariant_wrap span:nth-child(2) {
  color: #767676;
}

.ProductDets_collection-wrap {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  display: flex;
  gap: 8px;
}

.ProfuctDets_fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  border: none;
}

.collection_grid {
  display: flex;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  /* padding: 3px; */
}

.ProductDets_collection_imgs_grid_cntr {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
}

.ProductDets_imgs_grid_cntr2 {
  margin: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
}

.ProductDets_collection_img_cntr {
  display: flex;
  border: none;
}

.ProductDets_collection_img_cntr .Product_color {
  object-position: center top;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.Product_active_color {
  border: 1px solid;
}
.ProductDets_size_Mainwrap {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ProductDets_size_wrap {
  position: relative;
  /* background-color: blue; */
  display: flex;
  /* margin: 0.5rem 0; */
  /* justify-content: space-between; */
}
.Product_detail {
  display: flex;
  justify-content: space-between;
}
.Product_detail_left {
  width: 30%;
  border: 1px solid;
}
.Product_detail_right {
  width: 60%;
  border: 1px solid;
}

.ProductDets-size_assist_cntr {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  gap: 4px;
  display: none;
  font-family: var(--primary-font-Hel);
}

#easysize_button {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px !important;
  letter-spacing: 0.02em;
  line-height: 1.35;
  border: none !important;
  margin: 0 !important;
  text-align: center;
  text-underline-offset: 3px !important;
  background: white !important;
  padding: 10px 16px !important;
  color: #000 !important;
  cursor: pointer;
  color: #000000;
  /* text-decoration: underline; */
}

.ProductDets-size_numbers_cntr {
  max-width: 280px;
  /* display: none; */
  /* position: absolute; */
  top: 0;
  /* left: 236px; */
  font-family: var(--primary-font-Hel);
}

.ProductDets-weight_numbers_cntr {
  max-width: 280px;
  display: none;
  font-family: var(--primary-font-Hel);
}

.ProductDets-size_numbers_inner,
.ProductDets-weight_numbers_inner {
  display: flex;
  gap: 2px;
  transform: translate(-8px);
}

.ProductDets-size_numbers {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  cursor: pointer;
  padding: 4px 8px;
  color: #000000;
  text-decoration: none;
}

.ProductDets-size_numbers:hover {
  text-decoration: underline;
}

.acitve {
  text-decoration: underline;
}

.no-item {
  font-size: calc(14.81px - 0.22vw);
  margin: 28px;
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  position: relative;
}

.ProductDets-size_numbers.acitve {
  /* text-decoration: underline; */
  text-underline-offset: 3px;
  /* for active size we use this code in js */
}

/* ProductDets_weight_wrap */
.ProductDets_weight_wrap {
  position: relative;
  display: flex;
  gap: 91px;
  margin: 1rem 0;
  /* background-color: green; */
}

.ProductDets-weight_assist_cntr {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  gap: 4px;
  display: none;
  font-family: var(--primary-font-Hel);
}

.ProductDets-weight_assist_cntr {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  gap: 4px;
  display: none;
  font-family: var(--primary-font-Hel);
}

#easyweight_button {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px !important;
  letter-spacing: 0.02em;
  line-height: 1.35;
  border: none !important;
  margin: 0 !important;
  text-align: center;
  text-underline-offset: 3px !important;
  background: white !important;
  padding: 10px 16px !important;
  color: #000 !important;
  cursor: pointer;
}

.ProductDets-weight_numbers_cntr {
  max-width: 280px;
  display: none;
  font-family: var(--primary-font-Hel);
}

.ProductDets-weight_numbers_inner {
  display: flex;
  gap: 2px;
  transform: translate(-8px);
}

.ProductDets-weight_numbers {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  padding: 4px 8px;
  color: #000000;
  text-decoration: none;
}

.ProductDets-weight_numbers:hover {
  text-decoration: underline;
}

.ProductDets-weight_numbers.acitve {
  /* text-decoration: underline; */
  text-underline-offset: 3px;
  /* for active size we use this code in js */
}

/* ProductDets_weight_wrap */
.ProductDets_Notify_wrap {
  gap: 32px;
  display: none;
  position: relative;
  /* margin-left: 234px; */
}
.btnAbsoulte {
  position: absolute;
  width: 100%;
}
.ProductDets_ntfy_btn {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  height: 40px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 9999px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s, background 0.2s;
  font-family: var(--primary-font-Hel);
  overflow: hidden;
  position: relative;
}

.ProductDets_ntfy_btn_grid {
  justify-content: space-between;
  grid-template-columns: auto auto;
  display: grid;
  max-width: 250px;
}
.ProductBtn_line_Anim {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  cursor: pointer;
}
.ProductBtn_line_cntr {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* background-color: red; */
}
.ProductBtn_line {
  position: absolute;
  height: 1px;
}
.ProductBtn_line1 {
  width: 0%;
  background-color: #ffffff;
}
.ProductBtn_line2 {
  width: 0%;
  background-color: #ffffff;
  /* left: 0; */
}

.ProductDets_ntfy_btn_slect_size {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  display: none;
}

.ProductDets_ntfy_btn_AddtoBeg {
  opacity: 1;
  visibility: visible;
  display: block;
}

.ProductDets_ntfy_btn:hover {
  background: #000000;
  color: #fff;
}

.ProductDets_ntfy_btn:hover .ProductDets_ntfy_btn_slect_size {
  visibility: visible;
  opacity: 1;
  display: block;
  color: #fff;
}

.ProductDets_ntfy_btn:hover .ProductDets_ntfy_btn_AddtoBeg {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.ProductDets_shipping_para {
  color: #767676;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  font-family: var(--primary-font-Hel);
}

.ProductDets_info_links {
  display: flex;
  grid-auto-flow: row;
  justify-content: flex-start;
  justify-items: flex-start;
  /* margin-top: 36px; */
  flex-direction: column;
  align-items: flex-start;
}
/* .ProductDets_info_links:hover .ProductDets_info-btn {
  color: #000000;
} */
.ProductDets_info-btn:hover {
  color: #767676;
}
.ProductDets_info-btn {
  background: none;
  display: inline-grid;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  color: #000000;
  /* text-decoration: underline; */
  text-underline-offset: 3px;
  font-family: var(--primary-font-Hel);
  padding: 6px 0;
}

.ProductDets_info_help {
  grid-area: needHelpButtonWrap;
  margin-top: 36px;
}

.ProductDets_info_text {
  color: #000000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  /* text-decoration: underline; */
  text-underline-offset: 3px;
  font-family: var(--primary-font-Hel);
}

/* .ProductDets_info_text:hover {
  color: #000000;
} */

/* ProductDets_text_wrapper */

/* Similar_prd_wrap */
.Similar_prd_wrap {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  padding-top: 16px;
}

.Similar_prd_head {
  display: block;
  padding: 26px;
}

.Similar_prd_pieces {
  font-family: var(--primary-font-Hel);
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 1.2;
}

.Similar_prd_like-this {
  font-family: var(--secondary-font-Hen);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 1.2;
  padding-left: 8px;
}

.Similar_prd_cntr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 40px;
  /* white-space: nowrap; */
}

.Similar_prd_card_cntr {
  background-color: #ffffff;
}

.shop-card-w-full {
  width: 100%;
  white-space: unset;
}

.similar-prd-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  padding-right: 26px;
  gap: 5px;
}

.similar-prd-dets {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.35;
  font-style: initial;
}
.ProductDets_blank-div {
  position: sticky;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 26px;
  margin-right: 26px;
}
.ProductDets_bottom_links_wrap {
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
}
/* Similar_prd_wrap */
@media only screen and (min-width: 375px) {
  .ProductDets_img_slider_wrap {
    opacity: 0;
  }

  .ProductDets_text_container_prdt_Desc,
  .ProductDets_colorVariant_wrap,
  .ProductDets_collection-wrap,
  .ProductDets-size_numbers,
  .ProductDets-weight_numbers,
  .ProductDets_info_text,
  .ProductDets_info-btn,
  .Similar_prd_head,
  ._list-links-redirect,
  .ProductDets_text_container_price_resp {
    font-size: calc(14.81px - 0.22vw);
  }

  .Similar_prd_pieces,
  .similar-prd-dets._brandName {
    font-size: (20.81px - 0.22vw);
  }

  .Similar_prd_like-this,
  .ProductDets_text_resp_productName,
  .ProductDets_text_container_resp_brandName,
  .ProductDets_text_container_resp_productName {
    font-size: calc(18.38px + 0.43vw);
  }

  .ProductDets_text_cntr {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media only screen and (min-width: 740px) {
  .ProductDets_blank-div {
    margin-left: 40px;
    margin-right: 40px;
  }
  .ProductDets_text_cntr {
    margin-left: 40px;
    margin-right: 40px;
  }

  .ProductDets_ntfy_btn {
    height: 34px;
  }

  .ProductDets_img_slider_wrap {
    opacity: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .ProductDets_size_Mainwrap {
    margin: 1.5rem 0;
    gap: 10px;
  }
  .ProductDets_size_wrap {
    position: relative;
    /* background-color: blue; */
    display: flex;
    /* margin: 1rem 0; */
    justify-content: space-between;
  }

  .ProductDets_main {
    display: block;
    height: 100vh;
  }

  .ProductDets_grid {
    grid-template-columns: 1fr 1fr;
    position: sticky;
    bottom: 0;
  }

  .ProductDets_img_slider_wrap {
    display: grid;
  }

  .ProductDets_Big_img_wrap {
    margin-top: 0;
    grid-auto-flow: unset;
    grid-auto-columns: unset;
    overflow-x: visible;
    overflow-y: visible;
    max-height: none;
  }

  .ProductDets_text_wrapper {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 50vw;
    position: sticky;
    top: 30px;
    height: calc(100dvh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ProductDets_text-container {
    gap: 0px;
  }

  /* .ProductDets_text_cntr {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 150px 1fr;
    padding: 32px 0;
    grid-column-gap: 64px;
    grid-row-gap: 20px;
    grid-template-areas:
      "title subtitle"
      "descriptionTitle description"
      "selectedColorWrap colorPicker"
      "selectedSize sizePicker"
      "selectedWeight selectweight"
      ". addToCartButtonWrap"
      "additionalInfoButtons needHelpButtonWrap";
  } */
  /* new-code-using flex */
  .ProductDets_text_container_brandName {
    display: block;
  }

  .ProductDets_text_container_productName {
    display: block;
  }

  /* new-code-using flex */
  .ProductDets_reverse_content_wrapper {
    flex-direction: column;
  }

  .ProductDets_description_wrap {
    flex-direction: row;
    /* gap: 168px; */
  }

  .ProductDets_text_container_prdt_Desc-title {
    margin-top: 0;
  }

  .ProductDets-size_assist_cntr {
    display: flex;
    align-items: center;
  }

  .ProductDets-weight_assist_cntr {
    display: flex;
    align-items: center;
  }

  .ProductDets_Notify_main_wrap {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 2fr 2fr 0fr;
    /* margin-right: 90px; */
  }

  .ProductDets-size_numbers_cntr,
  .ProductDets_Notify_wrap,
  .ProductDets-weight_numbers_cntr {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
  }
  .ProductDets_Notify_wrap {
    gap: 12px;
  }

  .ProductDets_Notify_wrap ._btn_wrapper {
    justify-content: space-between;
  }

  .ProductDets_bottom_links_wrap {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 32px;
    gap: 32px;
  }

  .ProductDets_info_links {
    display: flex;
    margin-top: 48px;
    gap: 12px;
    flex-direction: row;
  }

  .ProductDets_info_help {
    margin-top: 52px;
  }

  .Similar_prd_wrap {
    padding-top: 0;
    margin-top: -450px;
  }

  .Similar_prd_head,
  .ProductDets_text_container_resp,
  .ProductDets_text_container_btn_resp_cntr {
    display: none;
  }

  .Similar_prd_cntr {
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 96px;
    height: calc(100% + 20px);
  }

  .ProductDets_img_wrapper:hover .ProductDets_img_slider_wrap {
    opacity: 1;
    display: initial;
  }

  .ProductDets_text_btn_resp_cntr {
    display: none;
  }
  .ProductDets_text-container_prdt_Desc {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  #easysize_button {
    text-align: left;
    height: 16px !important;
    /* text-decoration: underline !important; */
    background: transparent !important;
    padding: 0 !important;
    color: #7b7b7b !important;
    transition: all 0.2s ease-in-out;
  }
  #easysize_button:hover {
    color: #000 !important;
  }
  #easyweight_button {
    text-align: left;
    height: 16px !important;
    /* text-decoration: underline !important; */
    background: transparent !important;
    padding: 0 !important;
    color: #767676 !important;
  }
}

@media only screen and (min-width: 1300px) {
  .ProductDets_text_container_prdt_Desc,
  .ProductDets_colorVariant_wrap,
  .ProductDets_collection-wrap,
  .ProductDets-size_numbers,
  .ProductDets-weight_numbers,
  .ProductDets_info_text,
  .ProductDets_info-btn,
  .footer_nav_ul_list p,
  .links,
  ._list-links-redirect {
    font-size: 12px;
  }

  .Similar_prd_head {
    font-size: 36px;
  }

  .Similar_prd_pieces {
    font-size: 18px;
  }

  .Similar_prd_like-this {
    font-size: 24px;
  }

  .Similar_prd_wrap {
    margin-top: -610px;
  }

  .ProductDets_Notify_main_wrap {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-right: 90px; */
  }
}

/* product card details */


@media (max-width: 576px){
  .overlay3a{
    padding:60px 20px;
  }
  .overlay3a .textContainer {
    width: 100%;
}
.overlay3a .textContainer h4 {
  font-size: 5vw;
}
}