#legal-page {
  min-height: 100vh;
  padding: 10vw 3vw 5vw;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;

}

#legal-page h2 {
  font-size: 2vw;
  font-family: font3;
  letter-spacing: .5px;
  line-height: 0.8;
  font-weight: 500;
  white-space: nowrap;
}

.legal-container {
  margin-top: 2vw;
}

.legal-container h3 {
  font-family:  var(--primary-font-Hel);
  font-weight: 600;
  line-height: 160%;
  font-size:  1.5vw;
  margin-bottom: .8vw;
}
.subheading-legal{
  margin-bottom: .8vw !important;
}

.legal-container p {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  line-height: 160%;
  font-size: calc(18px - 0.22vw);
  margin-bottom: 2vw;
}

.legal-container ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
  
}

.legal-container li {
  font-family: var(--primary-font-Hel);
  font-weight: 400;
  line-height: 160%;
  font-size: calc(18px - 0.22vw);
  list-style: inherit !important;
  margin-bottom: 1vw;
}


@media (max-width: 576px) {
    #legal-page {
        width: 100%;
        padding: 150px 20px 80px;
    }
    
#legal-page h2 {
  font-size: calc(25.8px + 1.33333vw);
  font-family: font3;
  line-height: 0.8;
  font-weight: 100;
  /* text-transform: uppercase; */
  white-space: nowrap;
}

.legal-container {
  margin-top: 8vw;
}

.legal-container h3 {
  font-size: 5vw;
  margin-bottom: 4.5vw;
}
.legal-container h4 {
  font-size: 4vw;
  margin-bottom: 3vw;
}

.legal-container p {
  font-size: calc(14.81px - 0.22vw);
  margin-bottom: 3vw;
}

.legal-container li {
 font-size: calc(14.81px - 0.22vw);
  margin-bottom: 3vw;
}
}