#loader-main{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.loader-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
}
.line-top-l{
    /* width: calc(100% - 60px); */
    width: 0;
    z-index: 9;
    left: 30px;
    height: .1vw;
    background-color: white;
    position: absolute;
    top: 30px;
}
.line-bottom-l{
    /* width: calc(100% - 60px); */
    width: 0;
    right: 30px;
    height: .1vw;
    background-color: white;
    position: absolute;
    bottom: 30px;
}
.line-side-r{
    /* height: calc(100% - 60px); */
    height: 0;
    z-index: 9;
    right: 30px;
    width: .1vw;
    background-color: white;
    position: absolute;
    top: 30px;
}

.line-side-l{
    /* height: calc(100% - 60px); */
    height: 0;
    left: 30px;
    width:.1vw;
    background-color: white;
    position: absolute;
    top: 30px;
}
.loader-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
}


.logo-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    filter: blur(5px);
}
.logo-l{
    height: 30px;
    width: fit-content !important;
    filter: invert(1);
}

#counter{
    font-size: 3vw;
    font-family: font2 !important;
    position: absolute;
    bottom: 60px;
    left: 60px;
    z-index: 9;
    font-weight: 500;
    color: white;
}